[2020-07-23 02:11] chavarera opened #5 "Create application to save Google keep note to CSV file and vice versa"
# Description

Create a command-line application/ script to save google keep notes to CSV file and vice versa.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for

[2020-08-07 18:00] chavarera opened #16 "Create basic music player"
**Problem statement**
Create basic music player

[2020-09-06 11:42] chavarera opened #15 "covid data visualization using streamlit"
**Problem Statement**
Create sample COVID-19 data visualization using stream lit

stream lit
https://www.streamlit.io/
`
Streamlit’s open-source app framework is the easiest way for data scientists and machine learning engineers to create beautiful, performant apps in only a few hours!  All in pure Python. All for free.
`

[2020-09-06 12:27] AdityaJ7 opened #6 "Script to scrape cricketer information"
# Description

Create a script that will take the name of a cricketer as input and will return the information related to him/her like total runs, wickets, strike rate, economy , etc.

## Type of issue

- [x] Feature(New Script)
## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects before submitting a new project issue
- [x] I have checked previous

[2020-09-08 06:32] AdityaJ7 opened #7 "Scrape PyCon India 2020 list of proposals"
# Description

Scrape information about the list of proposals made for the PyCon India 2020.

## Type of issue

- [x] Feature(New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects before submitting a new project issue
- [x] I have checked previous issues to avoid duplicates
- [x] This issue will be meaningful for the project.

[2020-09-08 16:02] AdityaJ7 opened #17 "Convert JSON to YAML"
# Description

Create a script that takes a JSON file as input and converts it into a YAML file.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-08 16:06] AdityaJ7 opened #8 "Scrape all the problems from Project Euler"
# Description

Write a script to scrape all the problems present in the Project Euler website and store them in a csv or text file.
You can check this [website]( https://projecteuler.net/archives) for reference

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue

[2020-09-08 16:22] AdityaJ7 opened #20 "Convert XML to CSV"
# Description

Write a script that takes an XML file as input and converts it into a CSV file.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-10 03:16] AdityaJ7 opened #19 "Convert HTML to Markdown"
# Description

Write a script to convert an HTML file into a Markdown file.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-10 12:29] AdityaJ7 opened #1 "Hacktoberfest2020"
## What is Hacktoberfest?

**Hacktoberfest is open to everyone in our global community. Whether you’re new to development, a student, long-time contributor, event host, or company of any size, you can help drive growth of open source and make positive contributions to an ever-growing community. All backgrounds and skills levels are encouraged to complete the challenge.**

## When can I start contr

[2020-09-12 09:19] AdityaJ7 opened #9 "Scrape CodeChef Problem Statement and store it as a text file"
# Description

Write a script that takes a problem code, scrapes the concerned problem statement and stores it in a text file

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be

[2020-09-12 09:21] AdityaJ7 opened #10 "Scrape information about Github users"
# Description

Write a script that takes a GitHub username as input and prints the related information like number of followers, followings, details provided by the user and the number of repositories they have.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issu

[2020-09-12 09:26] AdityaJ7 opened #4 "Scrape MLB player stats"
# Description

Write a script to scrape the stats of a user-defined MLB player and store them in CSV file.
You can use this website: [MLB Players](https://www.mlb.com/players)

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous iss

[2020-09-24 13:53] AdityaJ7 commented on #1
We will start posting issues from this weekend, interested people can claim them by commenting on an issue of their choice.
Issues will be assigned on a first-come-first-serve basis.

Thanks

[2020-09-24 20:47] MitanshiKshatriya opened #18 "Face Detection in Python Using a Webcam"
# Description

Write a basic script to detect faces in webcam using haar cascade.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] I have checked previous issues to avoid duplicates.
- [ ] This issue will be meaningful for the project.

[2020-09-25 09:34] pratik-choudhari commented on #8
Hey @AdityaJ7 assign me this issue😁

[2020-09-25 09:35] AdityaJ7 commented on #8
Sure

[2020-09-25 09:51] Tomyzon1728 commented on #4
Can I take up this project

[2020-09-25 11:21] AdityaJ7 commented on #4
Sure

[2020-09-25 11:31] #8 closed

[2020-09-25 14:42] AdityaJ7 opened #14 "Scrape News from JustDial.com"
# Description

Create a script that scrapes news from the justdial.com as per the user request.
For example, The user might request only cricket news or only tech news.

Here is the link for reference: [Link](https://www.justdial.com/JdSocial/news-latest)

## Type of issue
- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing pro

[2020-09-25 14:56] grplyler commented on #5
Hi there. By application, do you mean a command line application?

[2020-09-25 14:57] AdityaJ7 commented on #5
Yes

[2020-09-25 14:58] madhavmehndiratta opened #80 "Custom Wordlist Generator using Python"
# Description
I will be creating a custom wordlist generator which creates a wordlist based on the inputs given by the user. This can be useful in brute force attacks.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to a

[2020-09-25 15:01] grplyler commented on #5
Ok sweet, is there any particular rational for using csv? Should the application be more of a note taking application linked to Google Keep or more of an batch import/export tool for Google Keep? Just trying to understand the scope. I'd love to contribute for Hacktoberfest 2020.

[2020-09-25 15:02] grplyler commented on #14
If this is still available, I'd like to take a crack at this issue for Hacktoberfest 2020. Thanks!

[2020-09-25 15:04] AdityaJ7 commented on #5
An import/export tool for google keep

Thanks for showing interest in our repository, we will be happy to receive a contribution from you.

[2020-09-25 15:07] grplyler commented on #5
Ok, that sounds actually useful! It may take a couple days because I'll probably have to do OAuth2 authentication, but I'll take this one on!

[2020-09-25 15:08] AdityaJ7 commented on #5
Cool, you can take your time, I am assigning this issue to you, Good luck!

[2020-09-25 15:11] AdityaJ7 commented on #14
Sure, this is available.

[2020-09-25 18:57] officialpm commented on #9
#### I would like to solve this !!

[2020-09-26 04:06] #7 closed

[2020-09-26 04:25] AdityaJ7 opened #21 "Scripts must be placed under suitable directories"
All the script must be placed under the directory as per the tag associated with the issue related to that script.

For example: If the issue is labelled **bot** and u submit a script for that issue than your script must go under **Bot** directory.

We currently have four directories:

1.Web Scrapers
2.Bots
3. API
4. Miscellaneous

If you have doubt, where your script must go then you can comment

[2020-09-26 06:24] AdityaJ7 opened #22 "Scrape Hacktoberfest Events"
# Description

Script to scrape the hacktoberfest events for 2020 and store them in a csv file.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-27 06:47] #22 closed

[2020-09-27 15:50] prashanttholia commented on #20
Hi @chavarera, I won't be able to contribute towards this task. I apologize for the inconvenience. Thanks.

[2020-09-27 18:02] StarSeeker123 opened #26 "reading text from images using pytessaract"
# Description

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-29 21:22] Tomyzon1728 commented on #4
@AdityaJ7 I've created a PR , looking foward to you merging it.

[2020-09-30 09:08] AdityaJ7 opened #25 "Make a random quote desktop notification script"
# Description

Create a script that shows a random quote as a notification on your desktop.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-30 09:14] AdityaJ7 commented on #19
Unassigning due to inactivity

[2020-09-30 09:15] AdityaJ7 commented on #18
Are you working on it @MitanshiKshatriya

[2020-09-30 09:15] AdityaJ7 commented on #17
Unassigning due to inactivity

[2020-09-30 09:23] AdityaJ7 opened #27 "Convert HTML to PDF"
# Description

Write a script to convert the HTML file to PDF format.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-30 09:24] AdityaJ7 opened #28 "Scrape song lyrics with Python"
# Description

Script to scrape the lyrics of a song when the name of the artist and the song is provided by the user.

## Type of issue
- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningf

[2020-09-30 09:28] AdityaJ7 opened #29 "Make a Notepad clone with Python"
# Description

Make a text editor like notepad with the help of Python.
.
## Type of issue

- [x] Feature (New Script)
- [x] Bug
- [x] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the proj

[2020-09-30 09:32] AdityaJ7 opened #30 "Make a script to send telegram messages with Python"
# Description

Script to send messages on telegram with the help of Python.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-30 09:36] AdityaJ7 opened #31 "Submit your Python script ideas"
Want to create a script that is not present in this repo??

Make a comment here about the script that you want to add.

Please check the existing script in this repo as well as in our other repo

[Python-mini-projects](https://github.com/Python-World/python-mini-projects/tree/master/projects)

[2020-09-30 09:40] AdityaJ7 opened #32 "Scrape Times of India website"
# Description

Scrape news from the Times of India website as per the category of news provided by the user

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the

[2020-09-30 09:48] AdityaJ7 opened #33 "Create the Flames Game with Python"
# Description

Create a command-line Flames Game which takes two names as input and calculates the flames between them.

Visit the below website to know the logic behind this game:
[Flames Logic](http://flamesgame.appspot.com/algorithm)

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before subm

[2020-09-30 09:49] AdityaJ7 commented on #6
unassigning due to inactivity!!!

[2020-09-30 09:53] AdityaJ7 opened #34 "Code Forces problem scraper"
# Description

Scrape the problem statement from the Code Forces website as per the problem code provided by the user.
Save the result in a text file.

## Type of issue
- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
-

[2020-09-30 10:12] Rogue-Halo commented on #29
I've written one in Tkinter, I'd be happy to contribute it to this.

[2020-09-30 10:13] AdityaJ7 commented on #29
Sure buddy, go on assigning it to you

[2020-09-30 10:14] Rogue-Halo commented on #25
The python module "Plyer" is a good start for this. I'll grab this.

[2020-09-30 10:14] AdityaJ7 commented on #25
Yes, you are right, assigning it to you @Rogue-Halo

[2020-09-30 10:23] tauseefmohammed2 commented on #31
Web Scraping COVID-19 Data(Country Name, No. of Cases, No. of Deaths) for Top 10 Countries Affected, Along with the Worldwide Data.

If you like the idea, please assign the task to me. I would contribute to this repo as part of Hacktoberfest.

[2020-09-30 10:25] AdityaJ7 commented on #31
Sure go on buddy!! contributions are counted from tomorrow, you can start working on it !! don't forget to link this issue when you submit a pr

[2020-09-30 10:28] ameyanrd commented on #30
Hi, I would like to work on it.

[2020-09-30 10:29] AdityaJ7 commented on #30
Sure buddy!!

[2020-09-30 10:30] AdityaJ7 commented on #26
Are u working on it @StarSeeker123

[2020-09-30 10:34] AdityaJ7 opened #35 "Create a script to convert JSON files to Excel(.xlsx)"
# Description

Script to convert JSON files to excel format.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-30 10:36] tauseefmohammed2 commented on #27
I would like to implement this. I have a question. Will the User Provide the HTML File in the form of a URL?

[2020-09-30 10:38] AdityaJ7 opened #36 "Send sms using Twilio API with Python"
# Description

Send SMS to people by creating a free Twilio account, use Python for scripting purpose.

## Type of issue
- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the proje

[2020-09-30 10:39] AdityaJ7 commented on #27
Yes, the user will provide HTML file

[2020-09-30 10:39] Saujanya0910 commented on #27
Hey, I would like to implement this as a contribution for hacktoberfest 2020, if that's possible. This is my first time contributing to open-source.

[2020-09-30 10:40] AdityaJ7 commented on #27
Sorry @Saujanya0910 this issue has been claimed already

You can check the other unassigned issues

We will love to have a contribution from your side!!

[2020-09-30 10:41] Saujanya0910 commented on #27
Missed by a matter of minutes lol no problem. Thanks.

[2020-09-30 10:42] AdityaJ7 commented on #27
Yes, you can check #33 it is relatively easy!

[2020-09-30 10:47] AdityaJ7 opened #37 "Wifi Speed tester with Python"
# Description

Create a script that provides the download and upload speed of your Wifi.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-30 10:48] Saujanya0910 commented on #27
Sure, I would like to implement it using a python script. Please assign it to me, I'll do it as a contribution for Hacktoberfest. Thanks!

[2020-09-30 10:50] AdityaJ7 commented on #27
Please comment at that issue for reference!!

[2020-09-30 10:52] AdityaJ7 opened #38 "Scrape top torrents"
# Description

Scrape top trending torrents as per the category provided by the user.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-30 10:53] Saujanya0910 commented on #33
I would like to work on this issue. Reference to my comment on issue #27

[2020-09-30 10:55] AdityaJ7 commented on #33
Assigning it to you @Saujanya0910

[2020-09-30 10:58] AdityaJ7 opened #39 "Create a basic discord Bot with Python"
# Description

Create a simple bot with python that shares random quotes whenever a user says - **quotes, please**

## Type of issue

- [x] Feature (New Script)
- [x] Bug
- [x] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x]

[2020-09-30 11:03] AdityaJ7 opened #40 "Join Our WhatsApp Group"
Join our WhatsApp group, so that we can solve your queries ASAP.

[Join WhatsApp group](https://chat.whatsapp.com/Ghp25kidWLaGrAVA0G0GAa)

[2020-09-30 11:04] AdeshChoudhar19 commented on #37
I would like to contibute using Python.

[2020-09-30 11:06] AdityaJ7 commented on #37
Sure buddy! assigning it to you @AdeshChoudhar19

[2020-09-30 11:06] AdeshChoudhar19 commented on #37
Thank you!

[2020-09-30 11:07] AdeshChoudhar19 commented on #37
I'm new to open source, how to send you code, should I send the file over here?

[2020-09-30 11:10] AdityaJ7 commented on #37
You will have to fork this repository and submit a Pull Request The detailed explanation has been provided in the README File of the repository!!

You can check it [here](https://github.com/Python-World/Python_and_the_Web/blob/master/README.md)

[2020-09-30 11:11] AdeshChoudhar19 commented on #37
Thanks man!

[2020-09-30 11:11] AdityaJ7 commented on #37
You will have to fork this repository and submit a Pull Request The detailed explanation has been provided in the README File of the repository!!

You can check it [here](https://github.com/Python-World/Python_and_the_Web/blob/master/README.md)

[2020-09-30 11:12] AdityaJ7 commented on #37
No problem buddy you can comment here If on our WhatsApp group if you face any other issue

[2020-09-30 11:14] Meghana-12 commented on #35
I would like to work on this issue !

[2020-09-30 11:14] maddypie commented on #38
Which sites do you consider as top torrents sites? Is there any source for the same?

[2020-09-30 11:14] AdityaJ7 commented on #35
Sure!!

[2020-09-30 11:16] AdityaJ7 commented on #38
You can use 1337x , piratebay or prostylex

[2020-09-30 11:17] Meghana-12 commented on #35
Thanks :)

[2020-09-30 11:18] Ajay-Raj-S commented on #36
Hello @AdityaJ7 , Can I work on this issue? It would be nice that I would also gain experience from this.

[2020-09-30 11:19] AdityaJ7 commented on #36
Sure you can go ahead with it!!!

[2020-09-30 11:19] Ajay-Raj-S commented on #36
so can you assign it to me.

[2020-09-30 11:20] Meghana-12 commented on #39
I would like to try this issue out!

[2020-09-30 11:20] AdityaJ7 commented on #36
Assigned it to you @Ajay-Raj-S

[2020-09-30 11:21] AdityaJ7 commented on #39
Sure ma'am assigning it to you

[2020-09-30 11:22] AdityaJ7 commented on #38
Should I assign this issue to you @maddypie ??

[2020-09-30 11:22] maddypie commented on #38
Yes, I will try my best.

[2020-09-30 11:25] AdityaJ7 commented on #38
Alright, buddy, you can comment here if you face any issue

[2020-09-30 11:31] MitanshiKshatriya commented on #18
Yes I will make a pr today itself

[2020-09-30 11:34] AdityaJ7 commented on #18
I guess you should make it tomorrow so that it will be counted under Hacktoberfest , if you are participating in it

[2020-09-30 11:44] MitanshiKshatriya commented on #18
ok I will make a PR tomorrow then

[2020-09-30 11:55] roopeshvs commented on #34
Hello, I'd love to contribute to this.

[2020-09-30 11:57] AdityaJ7 commented on #34
Sure Buddy!!

[2020-09-30 12:11] AdeshChoudhar19 commented on #37
I have completed the code, in which folder should I place the file?

[2020-09-30 12:12] AdityaJ7 commented on #37
Miscellaneous

[2020-09-30 12:14] AdeshChoudhar19 commented on #37
Ok. Thanks again.

[2020-09-30 12:15] AdityaJ7 commented on #37
No problem buddy!!

[2020-09-30 12:23] AdeshChoudhar19 commented on #37
I have submitted a pull request. Please check it out and tell me if any changes are required.

[2020-09-30 12:37] maddypie commented on #38
@AdityaJ7, Please un-assign me. I failed to find a solution and moreover I am engaged in some other work.
Sorry.

[2020-09-30 12:57] AdityaJ7 commented on #38
Ok no problem!

[2020-09-30 13:34] p014ri5 commented on #39
I'd love to work on this.. 👍🏻

[2020-09-30 14:33] #37 closed

[2020-09-30 14:59] Tomyzon1728 commented on #28
I'd love to work on this

[2020-09-30 15:01] LakshyaShastri commented on #26
@AdityaJ7 Can you assign me to this

[2020-09-30 15:01] AdityaJ7 commented on #28
Cool assigning it to you @Tomyzon1728

[2020-09-30 15:04] AdityaJ7 commented on #26
Sorry @LakshyaShastri but this issue has already been assigned to @StarSeeker123  if he doesn't submits a pr in the next 4 days than I will assign this issue to you

You can check the other unassigned issue or create your own issue if you want to suggest a script which is missing in our repo.

[2020-09-30 16:40] StarSeeker123 commented on #26
@AdityaJ7 Yes, I am working on it.

[2020-09-30 17:15] ishan-chaudhary commented on #32
Hey can you assign me this issue

[2020-09-30 17:18] chavarera opened #45 "download youtube audio"
# Description
Accept YouTube video link and download audio file

## Type of issue
- [X] Feature (New Script)
- [x] Bug
- [x] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-09-30 17:27] chavarera opened #46 "convert UNIX time stamp to human readable format"
# Description

convert UNIX time stamp to human readable format

Unix Timestamp

![Screenshot from 2020-09-30 22-56-01](https://user-images.githubusercontent.com/33047641/94719010-324c1700-0370-11eb-99da-b96949b5bacb.png)

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [X] Bug
- [X] Documentation

## Checklist:

- [X] I have read the project gui

[2020-09-30 17:29] pranav6670 commented on #46
Can you assign me this issue?

[2020-09-30 17:31] chavarera commented on #46
go for it @pranav6670

[2020-09-30 17:32] pranav6670 commented on #45
I can do this. Can you assign me this issue?

[2020-09-30 17:34] mendoza commented on #17
I would love to work on this issue, pls assigned to me

[2020-09-30 17:36] chavarera opened #47 "Image to base64 encoding and vice versa"
# Description
Image to base64 encoding and vice versa

## Type of issue
- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the project.

[2020-09-30 17:40] pranav6670 commented on #47
Can I work on this issue? Thank You!

[2020-09-30 17:42] pranav6670 commented on #46
Great! Thanks, man!

[2020-09-30 17:43] chavarera opened #48 "face mask detection detection"
# Description

 Detects if a person is wearing a mask primarily in public places or not.

## Type of issue
- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningf

[2020-09-30 17:46] hacky1997 commented on #48
I want to work on this! Could you please assign me?

[2020-09-30 17:51] chavarera opened #49 "twitter sentiment analysis"
# Description
Twitter sentiment analysis

## Steps
- [ ] Read hashtag from input
- [ ] Find top 500 tweets
- [ ] create sentimental analysis

## Type of issue
- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to

[2020-09-30 17:52] chavarera commented on #48
sure @hacky1997 go for it

[2020-09-30 17:53] mendoza commented on #20
I would love to work on this issue too please assigned it to me

[2020-09-30 17:59] schezfaz commented on #49
Hey, can I work on this issue?

[2020-09-30 18:00] hacky1997 commented on #48
@chavarera I have done this project before. How can I upload it here? Just doing normal push origin?

[2020-09-30 18:07] chavarera commented on #48
@hacky1997 yes

[2020-09-30 18:12] mendoza commented on #20
Awesome, could you help me too with #17

[2020-09-30 18:15] tusharnankani opened #51 "stock scraper"
# Description
Scrape the S&P 500 Companies list from Wikipedia, Yahoo Finance, etc., then output the data.
Get stock prices

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous is

[2020-09-30 18:16] WisnuDS commented on #19
Hi, may I work on this issue?

[2020-09-30 18:48] AdeshChoudhar19 commented on #45
I would like to work on this.

[2020-09-30 18:48] antoniouaa commented on #51
To clarify, what sort of data do you want collected from the companies?

[2020-09-30 18:51] tusharnankani commented on #51
Stock prices, Company name and extra useful information that can be scraped.

[2020-09-30 18:56] antoniouaa commented on #51
Just from Wiki or would you want to use other websites for financial data like Yahoo! Finance?

[2020-09-30 19:00] tusharnankani commented on #51
Yes, you can use other websites as well!

[2020-09-30 20:24] Tomyzon1728 commented on #31
Web scrape football team standings individually as typed by the user /fan .
I would like this to be a HacktoberFest project as well

[2020-10-01 01:24] anandhakrishnanaji commented on #38
Can I take up this issue?

[2020-10-01 02:46] AdityaJ7 commented on #19
Sure @WisnuDS assigning it to you

[2020-10-01 02:47] AdityaJ7 commented on #32
Sure @ishan-chaudhary assigning it to you

[2020-10-01 02:48] AdityaJ7 commented on #38
Sure @anandhakrishnanaji

[2020-10-01 02:48] AdityaJ7 commented on #47
Sure buddy @pranav6670

[2020-10-01 02:52] AdityaJ7 commented on #17
Sure @mendoza

[2020-10-01 03:38] pranav6670 commented on #47
Great! Thanks, bro.

[2020-10-01 03:48] AdityaJ7 commented on #31
Ok @Tomyzon1728  when you submit a pull request link it with this issue

Make the script with user-defined inputs, don't hardcode okay

Thanks!

[2020-10-01 03:53] AdityaJ7 opened #57 "Please make only meaningful PRs"
Unnecessary PRs will be marked as spam and invalid and won't be counted under Hacktoberfest so please refrain from making unnecessary Pull requests.

Thanks

[2020-10-01 04:15] AdityaJ7 commented on #51
Due you want to be assigned to this issue @antoniouaa  ?

[2020-10-01 04:18] PalAditya commented on #31
I don't think I have seen this one mentioned: how about converting different image formats like .jpg, .png etc. to pdf? This is a common requirement I have seen often
If okay, I would love to contribute on this one

[2020-10-01 04:29] AdityaJ7 commented on #31
Sorry but this kind of script is present in the python-mini-projects repo of this organization, you can suggest other scripts
We will be happy to receive a contribution from you!!

[2020-10-01 04:50] varuntumbe commented on #6
Can i try solving this issue ? ( do i have to scrape or can i use an api  )
Thanks in advance

[2020-10-01 04:55] AdityaJ7 commented on #6
Whatever approach suits you @varuntumbe  if you use API than place your folder under API and if you use scraping then place it under web scrappers

Thanks

[2020-10-01 04:57] varuntumbe commented on #6
okay sure thanks i will try to do this.

[2020-10-01 05:42] roopbiswas commented on #51
I would like to contribute on this. Let me know if it is okay to take up this issue..

[2020-10-01 05:47] AdityaJ7 commented on #51
I guess @antoniouaa  is interested in this issue @roopbiswas he is in a different time zone so he might reply a bit late,  if he is not interested then we will assign this issue to you.

Thanks

[2020-10-01 05:48] roopbiswas commented on #51
cool. thanks!

[2020-10-01 05:56] rohitjoshi6 commented on #31
Hey @AdityaJ7 I am willing to work on the following ideas:
1)streamlit webapp
2)Web-scrapping of images

[2020-10-01 05:59] tusharnankani commented on #57
Yes! Please stick to [Quality Standards](https://hacktoberfest.digitalocean.com/details#quality), please make meaningful Pull Requests (PR).

[2020-10-01 06:02] AdityaJ7 commented on #31
Sure @rohitjoshi6  go on with it make separate prs for both these ideas and place scrapping idea into Web Scrappers and streamlit webapp into Miscellaneous.

Don't forget to link this issue to both of your PRs.

Thanks

[2020-10-01 06:19] yuvraajnarula commented on #29
I would like to work on this. Can you assign me this issue?

[2020-10-01 06:20] AdityaJ7 commented on #29
Sorry but @Rogue-Halo  is already working on this issue @yuvraajnarula

[2020-10-01 07:00] #10 closed

[2020-10-01 07:14] #34 closed

[2020-10-01 07:38] aniket786333 commented on #57
Thanks sir

[2020-10-01 07:50] AdityaJ7 opened #78 "Create a dice roll game with python"
# Description

Create a simple dice roll game with Python(command-line based)

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-01 07:53] AdityaJ7 opened #79 "Basic quiz application with Python 🐍"
# Description

Create a command-line based quiz application with  🐍

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-01 07:54] xPolar commented on #79
Hey there, I'd be interested in helping with this, do you have any general specifics you'd like to be accomplished?

[2020-10-01 07:59] Gautam-virmani commented on #28
I want to work on this project but I am new to all this can you help.

[2020-10-01 07:59] AdityaJ7 commented on #79
Sure you can go for it.

The script must count the number of correct answers given by the player.
It must have a total of 20 different questions out of which 5 are selected randomly which means scoring must be out of 5 all the time.
If the wrong answer is provided by the user then the current answer must also be displayed.

You can add any type of questions be it Tech/Sports/Politics, etc

[2020-10-01 08:01] ameyanrd commented on #30
Where should the code be added? in `Scripts/Bots`?

[2020-10-01 08:01] Sahil-k1509 commented on #78
I would like to work on this.
Two dices thrown. One with higher number gets point. There will be n rounds(n given as input).
The top of dice would be printed in command line. More points results in win.
Do you want the name of two players and results of game stored in txt file or anything else?

[2020-10-01 08:02] charchithere commented on #78
Hello! I would like to work o this

[2020-10-01 08:02] xPolar commented on #79
Alright, should the answer be displayed after they've finished the quiz or once they've answered the question?

[2020-10-01 08:03] AdityaJ7 commented on #28
Sorry this issue has already been assigned to someone

[2020-10-01 08:04] AdityaJ7 commented on #79
Once they've answered it

[2020-10-01 08:04] AdityaJ7 commented on #30
Yes correct

[2020-10-01 08:05] GhostUser commented on #39
Can I still contribute by making a discord bot and submitting he code.

[2020-10-01 08:05] AdityaJ7 commented on #78
Sorry @charchithere it has been assigned to @Sahil-k1509

[2020-10-01 08:08] AdityaJ7 commented on #39
Ah sorry @GhostUser  this issue has been claimed already !!

If you have another bot idea different from this than you can create a comment with your idea in this [issue](https://github.com/Python-World/Python_and_the_Web/issues/31)

[2020-10-01 08:08] Gautam-virmani commented on #28
Sorry I am unable to understand what you want to say

[2020-10-01 08:11] AdityaJ7 commented on #28
You cant work on this issue

[2020-10-01 08:12] Gautam-virmani commented on #28
Ok

[2020-10-01 08:13] malhotra-paritosh commented on #31
Hi @AdityaJ7  I am working on this script right now, can we add it here?

[2020-10-01 08:14] AdityaJ7 commented on #80
This script must go under the Miscellaneous Folder

[2020-10-01 08:15] Aravindha1234u commented on #15
Hey, I can help in making this one, Since I have already deployed one with Django and willing to learn something new from streamlit.

https://covidin.herokuapp.com/

[2020-10-01 08:16] AdityaJ7 commented on #31
Sure @malhotra-paritosh you can go ahead with it, place it under the Miscellaneous Folder and link this issue with your PR

Thanks

[2020-10-01 08:17] AdityaJ7 commented on #15
Sure go ahead with it

[2020-10-01 08:31] Aravindha1234u commented on #15
Do this has any requirements I have planned to active, recovered and dead is there other ?

[2020-10-01 08:32] AdityaJ7 commented on #15
These three are enough

[2020-10-01 08:42] Rogue-Halo commented on #29
Actually, @yuvraajnarula can take this one. Don't want to be greedy and take them all when I'm already working on one 😂

[2020-10-01 08:44] GhostUser commented on #39
okay

[2020-10-01 09:16] AdityaJ7 commented on #29
ALright @yuvraajnarula  go ahead with this issue

[2020-10-01 09:37] #78 closed

[2020-10-01 09:39] #30 closed

[2020-10-01 09:57] Aravindha1234u commented on #15
Hey Bro. I am done with app with streamlit. Should I need to deploy using heroku and give you or how should I need to complete this issue bro ?

![image](https://user-images.githubusercontent.com/52521300/94795192-a92df200-03fa-11eb-8ef7-00af74ea962d.png)

[2020-10-01 10:00] AdityaJ7 commented on #15
You can deploy for your personal use, it will be a good addition while here u just need to submit source code.

[2020-10-01 10:03] Aravindha1234u commented on #15
Ok, Then I will create a Repository and give you the link here bro.

[2020-10-01 10:04] AdityaJ7 commented on #15
Make a PR to this repo

[2020-10-01 10:25] rohitjoshi6 commented on #31
@AdityaJ7 i have a doubt regarding the name convention of the branch. I didnt understand "name your branch according to the issue name" . Can u plz clear this doubt of mine?

[2020-10-01 10:27] AdityaJ7 commented on #31
Are u aware about the concept of branches ?

[2020-10-01 10:27] rohitjoshi6 commented on #31
Yes but i havent used them before

[2020-10-01 10:30] AdityaJ7 commented on #31
ok @rohitjoshi6  the steps for creating a branch are present in the README of this repo , you have to name your branch as per the name of the feature that you are adding like if you are adding a streamlit webapp , then you can name your branch as streamlitwebapp , etc

[2020-10-01 10:30] Aravindha1234u commented on #15
Done Bro

https://github.com/Python-World/Python_and_the_Web/pull/88

[2020-10-01 10:31] rohitjoshi6 commented on #31
Thanks for the help. I appreciate it!! Apologies for a basic doubt

[2020-10-01 10:31] AdityaJ7 commented on #31
You don't have to apologise, everyone here is in their learning phase

[2020-10-01 10:54] parzuko commented on #39
Hey i've made a discord music bot before, can i make another one ?

[2020-10-01 11:03] Priyam145 commented on #16
Hey I would like to work on this. Can you assign this to me?

[2020-10-01 11:06] AdityaJ7 commented on #39
This issue has been claimed but if you want to create a discord bot whose functionality is different from this one then you can comment about that idea of yours in this issue

[2020-10-01 11:10] AdityaJ7 commented on #16
Sure!!

[2020-10-01 11:14] parzuko commented on #31
Can I make a simple music bot for discord which streams from youtube using ffmpeg

[2020-10-01 11:20] AdityaJ7 commented on #31
Sure make a pr and link this issue to it and you must place your script inside the bot directory!

Thanks

[2020-10-01 11:22] parzuko commented on #31
Thanks!

[2020-10-01 11:50] nj1902 opened #90 "Google Search Using Python Script"
# Description
My script will shows google search result. README attached.
I am adding a script in an attempt to learn more about hacktoberfest.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [x] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a n

[2020-10-01 11:54] AdityaJ7 commented on #90
Ok @nj1902  put your script folder inside Miscellaneous

[2020-10-01 12:30] Mysterious-Owl opened #93 "Twitter bot"
# Description

twitter bot to like, retweet your tweet/with specific keyword/hashtag

## Type of issue

- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the project.

[2020-10-01 12:33] AdityaJ7 commented on #93
HI @Mysterious-Owl  we already have a word cloud script you can go ahead with the Twitter bot
and add it to the Bot directory of this project,

Thanks

[2020-10-01 13:25] ankitwarbhe commented on #31
Can I go for adding Video to mp3 script @AdityaJ7

[2020-10-01 13:27] #20 closed

[2020-10-01 13:37] AdityaJ7 commented on #31
Sure @ankitwarbhe

[2020-10-01 13:38] girishkulkarni832 opened #100 "How to push a installation package from server without any tool and to process it with all installation automation"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ ] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] I have checked previous issues to avoid duplicates.
- [ ] This issue will be meaningful for the project.

[2020-10-01 13:39] Meghana-12 commented on #31
Hey @AdityaJ7, how about a python script to send emails?

[2020-10-01 13:39] Agrover112 opened #101 "Activation Functions from Scratch in Keras"
#31 Activation Functions from Scratch in Keras

In the following project, we experiment and  implement activation functions commonly used in deep learning libraries from scratch using Keras and Tensorflow

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I

[2020-10-01 13:41] kchatr commented on #101
Hey! Could I implement the sigmoid activation function?

[2020-10-01 13:42] AdityaJ7 commented on #101
Cool @Agrover112 assigning it to you

[2020-10-01 13:44] AdityaJ7 commented on #101
Hey @kchatr you can implement it if @Agrover112 ain't but I guess he will be covering Sigmoid cause it is commonly used

[2020-10-01 13:44] Agrover112 commented on #101
@kchatr  Hey this project focuses on implementing some lesser known activation functions. Mainly those based on RELU and it's variants

[2020-10-01 13:45] AdityaJ7 commented on #101
So you are not implementing Sigmoid?

[2020-10-01 13:46] Agrover112 commented on #101
Nope the aim was to implement RELU based variants . :(

[2020-10-01 13:46] AdityaJ7 commented on #101
Ok

[2020-10-01 13:47] AdityaJ7 commented on #101
@kchatr  create a separate issue concerned with the implementation of Sigmoid function

[2020-10-01 13:49] AdityaJ7 commented on #100
Hi @girishkulkarni832 please drop such kind of queries in our WhatsApp group

[2020-10-01 13:50] Agrover112 commented on #101
I understand why you may want sigmoid by the project takes a different approach mainly relu based variants , which are bit different to sigmoid and not good performance wise @kchatr

[2020-10-01 13:51] AdityaJ7 commented on #31
Sure go for it @Meghana-12

[2020-10-01 13:57] #100 closed

[2020-10-01 14:24] myworkcircle commented on #45
I would like to work on this, i have previousely worked on python projects related to audio seperation from videos and have created plugins

[2020-10-01 14:24] antoniouaa commented on #51
Hi, yes i'm interested in this issue and started developing code for it already.

[2020-10-01 14:25] myworkcircle commented on #36
I have worked on twilio can u assign me this

[2020-10-01 14:25] AdityaJ7 commented on #51
Cool @antoniouaa assigning it to you

[2020-10-01 14:27] AdityaJ7 commented on #36
sorry this issue has been claimed already

[2020-10-01 14:27] Ajay-Raj-S commented on #36
Hello @AdityaJ7 , please review my code I have made the pull request.

[2020-10-01 14:27] AdityaJ7 commented on #45
This issue has been assigned already

[2020-10-01 14:46] prkhrv commented on #79
I would like to contribute

[2020-10-01 14:48] AdityaJ7 commented on #79
This issue has been claimed

[2020-10-01 15:59] Rishav0907 commented on #32
can I work on it?

[2020-10-01 16:13] #101 closed

[2020-10-01 16:36] AdeshChoudhar19 commented on #45
@AdityaJ7 Thank you for assigning me! I have started working on it, I think this project will need some time, what is the time limit for completing this? I'll update you regularly.

[2020-10-01 17:04] killerpanda101 opened #114 "Michelin star restaurants scraper"
# Description

website to scraper https://guide.michelin.com/en/restaurants

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-01 17:05] killerpanda101 commented on #114
please assign this to me,

[2020-10-01 17:05] officialpm commented on #114
#### I would like to do it🤘🏻

[2020-10-01 17:39] varuntumbe commented on #6
Hey wrote a script using scrapping. can you check whether it is correct and what should i  modify?
Thanks in advance.

[2020-10-01 17:54] madhavmehndiratta opened #115 "Social Media Scanner"
# Description

Open-source intelligence (OSINT) is data collected from publicly available sources to be used in an intelligence context. OSINT has been used by hackers for the Information Gathering process. The Information comes from variety of sources including social media pages, personal blogs, websites etc

This scripts check if a username is present on social media websites or not. For exampl

[2020-10-01 17:55] madhavmehndiratta commented on #115
I would like to be assigned for this project

[2020-10-01 18:22] xPolar commented on #79
I can no longer do this, sorry! @prkhrv should be able to take this if they still want to.

[2020-10-01 18:23] prkhrv commented on #79
Please assign

[2020-10-01 19:37] nikunjagarwal321 opened #120 "Codeforces Rating Scraper"
# Description

Given a list of codeforces usernames, the script will scrape the ratings and return a csv file

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have che

[2020-10-01 19:38] nikunjagarwal321 commented on #120
Can I please work on this issue?

[2020-10-01 19:39] nikunjagarwal321 commented on #120
I would like to work on this issue. Can I start with it?

[2020-10-01 22:33] echobash commented on #31
If given any website, scrape all the endpoints and all files like CSS,js, XML, and check for the broken links which return 404 status but they are still on the website.

What's the benefit?
i. Security Prevention:- If there is some link to say external file and it's broken now and returns 404. One can possibly takeover that orphan link if that's able to be taken over and then he/she can write his/

[2020-10-02 00:31] TEMHITHORPHE commented on #1
can i post an issue and request to be assigned to it?

[2020-10-02 02:07] TEMHITHORPHE commented on #115
i would love to be assigned too ... is that possible

[2020-10-02 02:45] AdityaJ7 commented on #120
sure @nikunjagarwal321

[2020-10-02 02:46] AdityaJ7 commented on #115
Sure @madhavmehndiratta you are assigned

[2020-10-02 02:47] AdityaJ7 commented on #115
Sorry but he claimed the issue before you

[2020-10-02 02:47] AdityaJ7 commented on #114
sure @killerpanda101

[2020-10-02 02:48] AdityaJ7 commented on #79
sure @prkhrv

[2020-10-02 02:49] AdityaJ7 commented on #31
Sure @echobash go for it !! add your script in the web scrapper directory and don't forget to follow the guidelines!

Thanks

[2020-10-02 02:51] AdityaJ7 commented on #1
Yes sure @TEMHITHORPHE just make sure the script that you want to work on is not already present either in this repo or in our sister repo called python-mini-projects

[2020-10-02 03:03] #17 closed

[2020-10-02 03:21] AdityaJ7 opened #123 "Pong game with Python"
# Description

Create  a pong game with python

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-02 03:25] chhipashubham970 commented on #31
Automatic Birthday Wisher to Auto Wish Friends using Python.
This idea falls in a category named automate the boring stuff using python.
If you like the idea, please assign the task to me. I would contribute to this repo as part of Hacktoberfest.

[2020-10-02 03:31] Vyprath commented on #45
Hey, I'd love to do this task!

[2020-10-02 03:37] AdityaJ7 commented on #45
Complete before 7 days

[2020-10-02 03:38] AdityaJ7 commented on #45
Hi @Vyprath thanks for showing interest in this issue but it has already been claimed by someone else, please check other unclaimed issue or create your own issue if you think our repos are , missing any script

Thanks

[2020-10-02 03:39] Vyprath commented on #123
Hey, I'd love to do this project!

[2020-10-02 03:39] AdityaJ7 commented on #123
Sure go for it @Vyprath

[2020-10-02 03:41] Manavi18 commented on #31
Web scraping reviews of the new NVIDIA  Geforce RTX 3080. If you liked it, please assign it.

[2020-10-02 03:41] AdityaJ7 opened #124 "Sudoku game with Python"
# Description

Create a GUI based sudoku game with Python

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-02 03:42] AdityaJ7 opened #125 "Connect 4 (C4) game with Python"
# Description

Create a GUI based Connect 4 game with Python

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-02 03:44] AdityaJ7 opened #126 "Classic Snake game with Python"
# Description

Create the classic snake game with python

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-02 03:45] AdityaJ7 commented on #31
Sure go for it @chhipashubham970  place your script folder under Miscellaneous directory of our repo

Thanks

[2020-10-02 03:47] AdityaJ7 commented on #31
Hi, @Manavi18 thanks for showing interest in our repo.
Rather than scraping review for a hardcode product, it would be better if you can make a script that can take input from the user for a product whose review they want to scrape.

Thanks

[2020-10-02 03:50] infern018 commented on #126
@AdityaJ7  can I work on this?

[2020-10-02 03:53] AdityaJ7 commented on #126
Sure @infern018

[2020-10-02 04:21] tusharnankani commented on #80
Fixed in PR #81

[2020-10-02 04:21] #80 closed

[2020-10-02 04:22] tusharnankani commented on #33
Fixed in PR #54

[2020-10-02 04:22] #33 closed

[2020-10-02 04:36] SuvamPrasd commented on #125
@AdityaJ7 I want to work on this issue

[2020-10-02 04:41] AdityaJ7 commented on #125
sure @SuvamPrasd

[2020-10-02 04:43] SuvamPrasd commented on #125
Thanks, @AdityaJ7

[2020-10-02 04:50] yuvraajnarula commented on #29
hi, can you please help me in what folder should I put my code after entering in the script folder?

[2020-10-02 04:50] sandyjswl opened #134 "Spotify Playlist Generator"
# Generate multiple playlists of a given size from a large Spotify playlist.

This script will generate multiple smaller spotify playlist from a large spotify playlist and shuffle them and add them to your spotify account
## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guid

[2020-10-02 04:51] AdityaJ7 commented on #134
cool @sandyjswl  go for it, add your script under Miscellaneous

[2020-10-02 04:52] sandyjswl commented on #134
Sure thanks.

[2020-10-02 04:52] AdityaJ7 commented on #29
Miscellaneous

[2020-10-02 04:56] AdityaJ7 opened #135 "Mad Libs Generator"
# Description

Create a mad libs generator with python.

Check this link to know more about Mad libs -- [Mad libs](https://en.wikipedia.org/wiki/Mad_Libs)

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicat

[2020-10-02 05:00] ankitsridhar16 commented on #124
I will work on this . Can you assign it to me ?

[2020-10-02 05:01] AdityaJ7 commented on #124
sure @ankitsridhar16

[2020-10-02 05:13] AdityaJ7 opened #137 "Star 🌟 this repo if you like it"
# Description

Hi, folks do star this repo if you like it and if you think that it can help others in learning python through projects.

Having more stars will ensure it is noticed by more people and more contributions from around the world will be possible.

Thanks

[2020-10-02 05:18] AdityaJ7 opened #138 "Scrape/extract emails from text files"
# Description

write a script that extracts email addresses, if any from a given file.
Do keep a count of multiple entries for the same email

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] Thi

[2020-10-02 05:44] aswarth123 commented on #138
I want to work on this issue can you assign it to me?

[2020-10-02 05:45] aswarth123 commented on #138
I also wanted to know that where I need to add this script?

[2020-10-02 05:47] AdityaJ7 commented on #138
Sure you can work on it add it under Miscellaneous

[2020-10-02 06:12] RitikaAg commented on #31
A telegram chat bot that will allow the user to take a selfie and give a rough overview of visible skin ailments like type of acne

[2020-10-02 06:15] Jayanth19524 commented on #138
please I want to work on this

[2020-10-02 06:15] AdityaJ7 commented on #31
Sounds cool @RitikaAg , you can work on it, add your script under Bot directory

Thanks

[2020-10-02 06:16] RitikaAg opened #141 "Telegram Chatbot for detecting skin ailments"
# Description

A telegram chatbot that will allow the user to take a selfie and gives them an approximate run down of visible skin ailments like acne through image detection

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [ X] I have checked all the existing

[2020-10-02 06:17] AdityaJ7 commented on #138
This issue has been claimed already @Jayanth19524

[2020-10-02 06:18] dvlp-jrs opened #142 "IMDb_Scrapper"
# Description

Write a script to scrap data from IMDb.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This is

[2020-10-02 06:18] Jayanth19524 commented on #135
I want to work on this.

[2020-10-02 06:20] AdityaJ7 commented on #142
What are u going to scrape ?

[2020-10-02 06:21] AdityaJ7 commented on #135
Sure @Jayanth19524

[2020-10-02 06:23] dvlp-jrs commented on #142
The following data
    final_data = {
        'imdb_id' : imdb_id,
        'names' : {
            'p_title' : p_title,
            'o_title' : p_title
        },
        'run_time' : run_time,
        'genres' : genres,
        'rating' : {
            'imdb_rating' : imdb_rating,
            'metascore' : metascore
        },
        'description' : {
            'plot' : imdb_plot_1,

[2020-10-02 06:24] AdityaJ7 commented on #142
A similar kind of script is present in our sister repo -- python-mini-projects

[2020-10-02 06:24] AdityaJ7 commented on #142
You can try A similar kind of script with Rotten-tomatoes if you want

[2020-10-02 06:25] #142 closed

[2020-10-02 06:28] AdityaJ7 opened #144 "Scrape Top 100 movies as per genre entered by the user"
# Description

Scrape the top 100 movies from Rotten-Tomatoes as per the genre entered by the user.
Store the result in a CSV file

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue wil

[2020-10-02 06:32] AdityaJ7 opened #145 "Scrape movie information from Rotten Tomatoes"
# Description

Scrape Critics Consensus, TOMATOMETER and Audience score for a movie as requested by the user.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for t

[2020-10-02 06:40] Jaideep07 commented on #145
I would like to try this can you assign this to me.

[2020-10-02 06:44] AdityaJ7 commented on #145
Sure @Jaideep07

[2020-10-02 06:54] AdeshChoudhar19 commented on #45
Yes, I think that is enough!

[2020-10-02 07:10] Angad-Boparai commented on #31
Web Scraping a brand's information from their Wikipedia page

[2020-10-02 07:17] AdityaJ7 commented on #31
Cool - make sure the brand is as per the user choice , you can go ahead with it  @Angad-Boparai

[2020-10-02 07:28] Anshul275 commented on #144
Ready to work on it. Please Assign it to me.

[2020-10-02 07:31] AdityaJ7 commented on #144
Sure @Anshul275

[2020-10-02 07:48] RitikaAg opened #148 "Voice Enabled Chatbot for stackoverflow questions"
# Description

A telegram chatbot that will take in technical voice queries and give answers by scraping stackoverflow

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I

[2020-10-02 07:49] RitikaAg commented on #148
Please assign this to me

[2020-10-02 07:49] Rogue-Halo commented on #25
Great, this has been merged.  We can close this.

[2020-10-02 07:51] AdityaJ7 commented on #148
Cool @RitikaAg assigned to you

[2020-10-02 07:54] AdityaJ7 commented on #25
YOur PR was empty

[2020-10-02 07:56] AdityaJ7 commented on #25
@Rogue-Halo Please create a new Pr with the notification script
Thanks

[2020-10-02 08:01] Vyprath commented on #123
I've opened a PR.

[2020-10-02 08:02] MontyGhost commented on #141
I would like to work on this, please assign this to me
Thank you!

[2020-10-02 08:05] MontyGhost commented on #148
I would also like to contribute to this project. Thank you!

[2020-10-02 08:09] AdityaJ7 commented on #148
This issue has been claimed already

[2020-10-02 08:09] AdityaJ7 commented on #141
This issue has been claimed

[2020-10-02 08:19] aswarth123 commented on #138
#149

[2020-10-02 08:40] piotrrybinski88 commented on #144
Hi, can i work on this also ?

[2020-10-02 08:47] AdityaJ7 commented on #144
Sorry this issue has already been claimed

[2020-10-02 09:06] Mysterious-Owl opened #155 "Google maps API"
# Description

You enter the address and it will mark its coordinate on maps on website, according to google maps, will use google maps api to get coordinates and map

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects

[2020-10-02 09:16] #6 closed

[2020-10-02 09:17] Jaideep07 commented on #145
@AdityaJ7 should I add a demo of it also as a readme ??

[2020-10-02 09:19] AdityaJ7 commented on #145
Add a screenshot for demo

[2020-10-02 10:10] #123 closed

[2020-10-02 10:23] #137 closed

[2020-10-02 10:24] AdityaJ7 opened #165 "Read and watch this before you contribute"
# Description

Read this post before you contribute anywhere for hacktoberfest

[Post](https://www.linkedin.com/posts/seemasaharan_1-open-source-is-not-a-competition-2-stop-activity-6717687483955523584-PYLW)

[Video](https://www.youtube.com/watch?v=kYN7cgAu1KA&feature=youtu.be)

[2020-10-02 10:27] #145 closed

[2020-10-02 10:43] #126 closed

[2020-10-02 10:52] krishnajalan opened #169 "Google search using python"
# Description
link in README.md is incorrect for this project.
link for the wifi speed project is duplicated for this project too.
kindly update the correct repo link.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ ] Feature (New Script)
- [ ] Bug
- [ x ] Documentation

## Checklist:

- [ x ] I have read the project guidelines.
- [ x ] I have checked all the existing p

[2020-10-02 10:55] AdityaJ7 commented on #169
Ok fix the link for the google search project

[2020-10-02 11:08] #169 closed

[2020-10-02 11:57] #9 closed

[2020-10-02 12:00] Rogue-Halo commented on #25
Done 👍

[2020-10-02 12:11] Rajdeep-Ray opened #181 "Upcoming Rocket Launch Schedule | Web Scrapper"
# Description

The script will scrape the Details of the upcoming Rocket Launch Schedule and return in a JSON

## Type of issue

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This

[2020-10-02 12:12] Rajdeep-Ray commented on #181
I would like to work on this

[2020-10-02 12:13] AdityaJ7 commented on #181
Sure @Rajdeep-Ray

[2020-10-02 12:15] Rajdeep-Ray commented on #181
@AdityaJ7 Could you assign me this Issue

[2020-10-02 12:17] #25 closed

[2020-10-02 12:26] rockingrohit9639 opened #184 "GUI Password Generator"
# Description

Hi, I am Rohit Kumar Saini. I am new to open source contributions. I have created a GUI based Password generator. It has three types of passwords to be generated i.e. PIN, AlphaNumeric, Extreme Secure.
So I want to start my contribution by adding this project of mine to your repo.
So can I add my project to it?
Thank you.

[2020-10-02 12:28] AdityaJ7 commented on #184
Place it under Miscellaneous directory  @rockingrohit9639

[2020-10-02 12:30] rockingrohit9639 commented on #184
Ok sir, Thank you very much for helping me.

[2020-10-02 12:31] AdityaJ7 commented on #184
No problem @rockingrohit9639  and you don't have to call me sir.

[2020-10-02 12:33] madhavmehndiratta opened #186 "GUI-based Tic Tac Toe Game using Python"
# Description
I would like to create a tic tac toe game using `tkinter` library in python.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issue

[2020-10-02 12:34] madhavmehndiratta commented on #186
Please assign me this project

[2020-10-02 12:35] AdityaJ7 commented on #186
Sure @madhavmehndiratta

[2020-10-02 12:35] rockingrohit9639 commented on #184
May I get your number or any contact detail so that you can help me further if you don't mind?

[2020-10-02 12:37] AdityaJ7 commented on #184
Join our whatsapp group #40

[2020-10-02 12:42] Swatichanchal commented on #186
I would like to work on this , please assign me this project .

[2020-10-02 12:44] AdityaJ7 commented on #186
Sorry @Swatichanchal but this issue has been taken already

[2020-10-02 12:45] Swatichanchal commented on #186
okay no problem .

[2020-10-02 12:46] Swatichanchal commented on #186
also I can change the UI of the game , like playing tic tac toe in canvas . If you want me to do that .

[2020-10-02 12:49] hardik-dadhich commented on #31
@AdityaJ7 , I would like to add automation script to open Gmail  and send mail through selenium library in python can I go for it ?

[2020-10-02 13:17] charmerDark commented on #31
I would like to put in a script that takes in images (jpg,png,jpeg) or pdf files and converts it  or merges them all into a single pdf file. I aim for lossless conversion to pdf for images. Please let me know if I can go ahead?

[2020-10-02 13:29] pksgmv commented on #31
Hey @AdityaJ7 , I am interested to contribute to your repo, a script for Realtime Face Detection using Python-OpenCV. As I checked in both of your repos, no such script is present. Can I contribute?

[2020-10-02 13:34] nmreddy1911 opened #189 "Zoom Scraper"
# Description

A Python Web Scraper to extract the participants from an ongoing zoom call.

## Type of issue

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meani

[2020-10-02 13:35] AdityaJ7 commented on #186
To change something it needs to created  first, correct me if I am wrong @Swatichanchal

[2020-10-02 13:36] AdityaJ7 commented on #31
Sure @pksgmv

[2020-10-02 13:36] AdityaJ7 commented on #31
Go for it @hardik-dadhich

[2020-10-02 13:37] AdityaJ7 commented on #31
Similar scripts are present in our sister repo -- python-mini-projects

[2020-10-02 13:40] Anshul275 commented on #189
I am ready for this. Please assign the task to me :)

[2020-10-02 13:44] Anshul275 commented on #144
Should i attach one of the generated csv files too. Screenshots are needed or not??

[2020-10-02 14:07] Swatichanchal commented on #186
then let me create a different type of tic tac toe game , the concept will be same but the UI and method will be different

[2020-10-02 14:11] AdityaJ7 commented on #186
Having the same thing in different flavours won't be a meaningful contribution - we already have two command line tic tac toes and one GUI based is under progress so I don't think we want another Tic Tac toe because in the end all four of them will have the same functionality. Hope you understand

Thanks

[2020-10-02 14:13] AdityaJ7 commented on #189
it has been claimed by the creator !!

[2020-10-02 14:14] AdityaJ7 commented on #144
nope

[2020-10-02 14:22] hardik-dadhich opened #192 "Automate Gmail opening and send mail process using selenium library"
# Description
A python script which helps you to automate sending mail functionality using selenium library.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have chec

[2020-10-02 14:22] hardik-dadhich commented on #192
@AdityaJ7 Can you assign it to me?

[2020-10-02 14:25] AdityaJ7 commented on #192
sure

[2020-10-02 16:10] k1m0ch1 opened #197 "Scapring any new thread in kaskus.com"
# Description

I just made a scraper that scrap any new thread scraper for kaskus.com (a very famous forum in Indonesia) and I want to share it in here, it will be good for indonesia fellow to archive some thread.
this scaper function mostly :
1. scap any new thread into `SingleFileZ` format file
2. check everyday if the thread is deleted, mark the file as `archived`

This will help some of indone

[2020-10-02 16:15] nmreddy1911 commented on #189
Thank you Aditya 😃

[2020-10-02 16:15] nmreddy1911 commented on #189
Thank you @AdityaJ7 😃

[2020-10-02 16:54] #29 closed

[2020-10-02 17:28] madhavmehndiratta opened #200 "Image Steganography using Python"
# Description

I will be creating a script in which we can hide text inside an image.
Also we can decrypt the text using the same script only

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new

[2020-10-02 17:28] madhavmehndiratta commented on #200
Can you assign this project to me?

[2020-10-02 17:51] apoorva-dave commented on #200
Can this issue be assigned to me?

[2020-10-02 18:09] k1m0ch1 commented on #197
I hope this meaningful, @AdityaJ7 can you please assign me this?

[2020-10-02 18:17] k1m0ch1 opened #203 "Basic Slack Bot"
# Description

I have a very basic slack bot with python, and can I share this to your repo ?
This will be very helpfull, just found out this repository helping one of my student to grow.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ X ] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ X ] I have read the project guidelines.
- [ X ] I have checke

[2020-10-02 18:17] k1m0ch1 commented on #203
can you @AdityaJ7 assign this to me ? thank you very much

[2020-10-02 19:58] Sahil-k1509 commented on #79
hi. I would like to contribute to this in some way or the other. I know it is claimed already. but, @prkhrv  if you need help in creating questions for the quiz. I can help. I created a quizzing website in php so I have 60 questions based on programming and some misc topics. If you would like to check them out, visit my ['Ask me now'](https://github.com/Sahil-k1509/AskMeNow/) repo. questions.php h

[2020-10-02 20:40] prkhrv commented on #79
@Sahil-k1509  Sure !

[2020-10-02 21:39] danieljo09 commented on #31
Webscraping reddit posts of a certain community/topic.

If the idea is good and confirmed, I would like to be assigned to and work on it.

[2020-10-03 03:20] Cheemashyper commented on #31
A Python Clicker so you can be the King of https://clickspeedtest.com

[2020-10-03 03:30] AdityaJ7 commented on #200
sorry but the issue creator claimed it first, more issues will be posted soon you can ask to be assigned to them or you can create you brown issue if you feel that some script is missing

[2020-10-03 03:30] Cheemashyper commented on #31
Instagram Unfollow script which unfollows Random people

[2020-10-03 03:31] AdityaJ7 commented on #197
Sure go ahead with it @k1m0ch1

[2020-10-03 03:33] AdityaJ7 opened #205 "Video Steganography using Python"
# Description

Perform steganography on a video provided by the user using python

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-03 03:46] AdityaJ7 commented on #79
You can help if the assigned person is okay with it

[2020-10-03 03:56] matanthings commented on #205
Hey @AdityaJ7, can you assign me to this issue?

[2020-10-03 03:58] AdityaJ7 commented on #205
sure

[2020-10-03 04:02] AdityaJ7 commented on #31
Sure go for it @danieljo09

[2020-10-03 04:02] AdityaJ7 commented on #31
Sure go for it @Cheemashyper

[2020-10-03 04:02] AdityaJ7 commented on #31
SOUNDS good @Cheemashyper

[2020-10-03 04:39] CaptainRoberts opened #210 "Amazon Product Web Scraper"
# Description

I have an Amazon Web Scraper that gets all the a product has based on the item search URL provided that I wish to share in your repo.
This is my first time contributing to an open-source project and I'm very much looking forward to it! Thanks.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklis

[2020-10-03 04:40] CaptainRoberts commented on #210
Can you @AdityaJ7 assign this issue to me? Thank you very much, and have a great day!

[2020-10-03 04:45] AdityaJ7 commented on #210
Sure @CaptainRoberts

[2020-10-03 04:47] rockingrohit9639 opened #213 "WisyAI - Virtual Assistant"
# Description

I have created a Virtual Assistant using Python. I have also used NN to answer some questions like a bot.

[2020-10-03 04:51] #144 closed

[2020-10-03 04:53] AdityaJ7 commented on #213
@rockingrohit9639 please follow the issue template check the other issues for reference

[2020-10-03 05:00] jaesharma opened #216 "PortScanner"
# Description
A python script to scan port on the local system or remotely.
you can specify the host IP and port number and the script will check if that port on the host system is open or closed.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have che

[2020-10-03 05:01] AdityaJ7 commented on #216
@jaesharma assigned to you

[2020-10-03 05:01] jaesharma commented on #216
Can @AdityaJ7  assign this issue to me? Thank you very much, and have a great day!

[2020-10-03 05:01] AdityaJ7 commented on #216
Place this script  under the miscellaneous folder

[2020-10-03 05:02] #213 closed

[2020-10-03 05:17] Araon opened #217 "Discord News Web Hook"
# Description
The Discord webhook will scrape the news website [inshort](https://inshorts.com/en/read/) and post a daily news update on the Selected Channel

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before s

[2020-10-03 05:19] Araon commented on #217
I think i can pull this off can I be assigned this issue

[2020-10-03 05:20] AdityaJ7 commented on #217
Cool @Araon you can go for it

[2020-10-03 05:26] asiskumarroy commented on #57
Thaank you Sir,I would like to contribute by adding a fake news detection web app built in flask and using NLP techniques for detection

[2020-10-03 05:28] twozero88 commented on #31
Quick Screenshots.
Shortcut to capture screenshot, upload on the web, and copy the link to clipboard

[2020-10-03 05:31] Sahil-k1509 opened #219 "Excel Columns Translator"
# Description

Takes an excel file as an input.
Then the original language of content and the language it should be translated to.
Finally the column names that need to be translated are taken as input.
All the specified columns are translated and  new excel file is created in same folder.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug

[2020-10-03 05:32] Sahil-k1509 commented on #219
I would like to work on this. This has many practical applications. I myself used this to translate an excel from hindi to punjabi with acceptable errors(5-10rows) which is much more manageable and affordable than 400 rows.

[2020-10-03 05:33] AdityaJ7 commented on #57
okay

[2020-10-03 05:35] AdityaJ7 commented on #31
okay cool you can work on it @twozero88

[2020-10-03 05:35] AdityaJ7 commented on #219
Sure go for it

[2020-10-03 05:38] AdityaJ7 commented on #57
You can work on it @asiskumarroy

[2020-10-03 05:43] golu360 opened #221 "HLTV.org WhatsApp bot"
# Description
Grab news from HLTV.org RSS Feed.
Parse it and Send it to a given WhatsApp number/ list of numbers using Twilio

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ X] I have read the project guidelines.
- [ X] I have checked all the existing projects, before submitting a new project issue

[2020-10-03 05:43] swaroopmaddu opened #222 "Playstore Review Scrapper"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [x] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the project.

[2020-10-03 05:44] golu360 commented on #221
I can pull this one off if assigned to

[2020-10-03 05:48] AdityaJ7 commented on #221
Sure go for it

[2020-10-03 05:49] AdityaJ7 commented on #222
Assigned to you @swaroopmaddu

[2020-10-03 05:50] pyGitHub7 opened #223 "Geocoding"
# Description

It is a simple project based on geocoding.

Geocoding is the process of converting addresses (like a street address) into geographic coordinates (like latitude and longitude), which you can use to place markers on a map, or position
the map.

To completely understand this project you got to have basic knowledge about python, json, REST API and file handling.

While running the code,

[2020-10-03 05:51] AdityaJ7 commented on #223
@pyGitHub7 thanks for your interest but a similar script already exists in our collection at python-mini-projects

[2020-10-03 05:52] #223 closed

[2020-10-03 06:09] TasneemParveen opened #224 "Scraping images from thispersondoesnotexist"
# Description

Scraping specified number of images from thispersondoesnotexist and putting them in a specified directory on your computer.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X ] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X ] I have read the project guidelines.
- [X ] I have checked all the existing projects, before submitting a new

[2020-10-03 06:13] AdityaJ7 commented on #224
You can go for it @TasneemParveen

[2020-10-03 06:21] CaptainRoberts opened #225 "NASA Image of the Day Scraper"
# Description

I have a python script that gets NASA's Astronomy Image of the Day that they post on their website. The image quality stays the same, no pixelation.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, b

[2020-10-03 06:21] CaptainRoberts commented on #225
I would like this issue to be assigned to me @AdityaJ7 .
Thank you very much, and have a nice day!

[2020-10-03 06:22] AdityaJ7 commented on #225
Sure @CaptainRoberts

[2020-10-03 06:57] KhushiGangopadhyay opened #230 "News App"
A News Website which shows the top news all categories and also with the feature of personalising your own feed and bookmarking important links
## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ X] I have read the project guidelines.
- [ X] I have checked all the existing projects, before submitting a

[2020-10-03 06:59] KhushiGangopadhyay commented on #230
I would like to work on this issue, please assign it to me @AdityaJ7 , thank you.

[2020-10-03 06:59] AdityaJ7 commented on #230
Sure @KhushiGangopadhyay

[2020-10-03 07:00] AdityaJ7 commented on #230
Make sure to use Python

[2020-10-03 07:01] KhushiGangopadhyay commented on #230
Yes , I will, thank you so much.

[2020-10-03 07:20] xcodz-dot commented on #57
I have a good production ready shopify web scraper (My own work), So i am wanting to CONTRIBUTE her.

[2020-10-03 07:23] xcodz-dot opened #232 "Shopify Web Scraper"
# Description

Shopify Web Scraper

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningf

[2020-10-03 07:24] xcodz-dot commented on #232
I wanted to be assigned to this, may I?

[2020-10-03 07:26] AdityaJ7 commented on #232
sure @xcodz-dot

[2020-10-03 07:28] xcodz-dot commented on #232
thanks

[2020-10-03 08:07] ishan-chaudhary commented on #32
I am not able to push my code on the new branch it is prompting permission denied

[2020-10-03 08:54] Cheemashyper commented on #31
Hello @AdityaJ7
I have created the Pull Request, I am new to Github so I really don't know how it works.
Please review my PR and Let me know if I did something Wrong.

[2020-10-03 09:20] officialpm opened #241 "File Organizer Script"
# Description

Auto organizing files - images, music, executables, documents

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid dup

[2020-10-03 09:21] officialpm commented on #241
Please assign this to me 💯

[2020-10-03 09:38] ishan-chaudhary commented on #32
I have added my code, please accept my pull request.

[2020-10-03 09:43] Jayanth19524 commented on #135
can u please help me with an error called deepsource error?@AdityaJ7

[2020-10-03 10:19] CaptainRoberts opened #247 "Typing Test Autocomplete Bot Using Selenium"
# Description

A typing test autocomplete bot using Selenium.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X]

[2020-10-03 10:19] CaptainRoberts commented on #247
I would like to be assigned to this issue @AdityaJ7
Thank you and have a nice day!

[2020-10-03 10:20] AdityaJ7 commented on #247
Sure @CaptainRoberts

[2020-10-03 10:22] #181 closed

[2020-10-03 10:45] Skr-suyash commented on #241
Hey, can I work on this issue

[2020-10-03 10:54] AdityaJ7 commented on #241
It has been assigned already

[2020-10-03 11:00] adityagandhamal opened #250 "Road Lanes Detection"
# Description

 Detecting road lanes using Python and OpenCV

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] T

[2020-10-03 11:00] adityagandhamal commented on #250
I would like to work on this. Please assign me the task.

[2020-10-03 11:19] #217 closed

[2020-10-03 11:24] AdityaJ7 commented on #250
Sure @adityagandhamal

[2020-10-03 11:25] jaesharma opened #253 "Python script to solve the Sudoku efficently"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the project.

[2020-10-03 11:25] jaesharma commented on #253
hey @AdityaJ7 please assign this to me.

[2020-10-03 11:28] adityagandhamal commented on #250
Thank you!

[2020-10-03 11:36] GodSaveTheDoge opened #254 "Scraping images from thisxdoesnotexist"
# Description
Make a scraper for images in these sites => https://thisxdoesnotexist.com/

## Type of issue
- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningf

[2020-10-03 11:37] GodSaveTheDoge commented on #254
I'm working on it to be clear :laughing:

[2020-10-03 12:21] GodSaveTheDoge commented on #254
to be precise i'll __probably__ add these sites:
- https://thisponydoesnotexist.net/
- https://vole.wtf/
- https://thishorsedoesnotexist.com/
- https://thisartworkdoesnotexist.com/
- https://thissnackdoesnotexist.com/
- https://thisvesseldoesnotexist.com/
- https://thispersondoesnotexist.com/ (i have to consider this since there is already an issue on this site so I'll probably skip it)
- https://

[2020-10-03 13:07] rishu1722 commented on #57
So , i read about it i cam develop abot to contribute in it.

[2020-10-03 13:13] rishu1722 commented on #79
Can i help you out?

[2020-10-03 13:23] rishu1722 commented on #221
It is easy and my first open source contribution. You can bilieve and i can help?

[2020-10-03 13:25] rishu1722 commented on #253
This is work i love you can assign me.

[2020-10-03 13:50] dingusagar commented on #57
i have added a python script that searches a text accross different captions files (srt files) and brings up the results in a nice format. The PR can be found here. #262
please review it and give comments if any. Also consider merging it if there arent any issues.

[2020-10-03 13:52] VyomGarg47 opened #263 "Detecting any arrow from a live camera feed."
# Description

A python project which uses OpenCV library to detect any arrow shaped object, along with its directions, from a live camera feed. This could have many useful applications like detecting traffic signs and to provide instructions for navigation.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklis

[2020-10-03 13:52] VyomGarg47 commented on #263
Please assign this issue to me.

[2020-10-03 14:24] AdityaJ7 commented on #253
This has been assigned to someone else

[2020-10-03 14:27] AdityaJ7 commented on #221
this issue has been claimed

[2020-10-03 14:45] #125 closed

[2020-10-03 14:49] #93 closed

[2020-10-03 14:59] rishu1722 opened #274 "The github_api only take's input of strings not of numbers."
# Description
Some of the github users have the username which have numbers included in them but in this type of usernames the api shows error.

## Type of issue
Correct the input variable.

- [ ] Feature (New Script)
- [X] Bug
- [ ] Documentation

## Checklist:

- [ X ] I have read the project guidelines.
- [ X ] I have checked all the existing projects, before submitting a new project issue.
- [

[2020-10-03 15:03] #51 closed

[2020-10-03 15:06] ritesh-dt commented on #274
I would like to work on this issue?

[2020-10-03 15:08] #115 closed

[2020-10-03 15:17] #138 closed

[2020-10-03 15:26] AdityaJ7 commented on #274
sure @ritesh-dt

[2020-10-03 15:28] AdityaJ7 commented on #274
Let me first ask @rishu1722 if he wants to work on it , if he don't want to work then it will be assigned to you

[2020-10-03 15:28] AdityaJ7 commented on #274
@rishu1722 do u want to work on this ?

[2020-10-03 15:29] #222 closed

[2020-10-03 15:30] rishu1722 commented on #274
Yes of course sir that's why I have found this.It will be nice of you.

On Sat, 3 Oct, 2020, 8:59 pm Aditya Jetely, <notifications@github.com>
wrote:

[2020-10-03 15:30] #15 closed

[2020-10-03 15:31] #21 closed

[2020-10-03 15:31] #35 closed

[2020-10-03 15:34] rishu1722 commented on #274
Thanks for believing on me I will not let you down.

On Sat, 3 Oct, 2020, 9:02 pm Aditya Jetely, <notifications@github.com>
wrote:

[2020-10-03 15:34] #165 closed

[2020-10-03 15:34] #210 closed

[2020-10-03 15:37] rishu1722 commented on #57
But what I have to do sir?make a new script?

On Sat, 3 Oct, 2020, 7:20 pm Dingu Sagar, <notifications@github.com> wrote:

[2020-10-03 15:38] ritesh-dt commented on #274
Try usernames like AdityaJ7 or sanjay535? I think it depends on whether the user has registered his actual name on GitHub

[2020-10-03 15:43] rishu1722 commented on #274
No,look carefully in the screenshot I have entered my name , brother.

On Sat, 3 Oct, 2020, 9:08 pm Ritesh T, <notifications@github.com> wrote:

[2020-10-03 16:03] AdityaJ7 commented on #274
Yes, the script works for my username

[2020-10-03 16:04] AdityaJ7 commented on #274
@rishu1722 i guess @ritesh-dt is correct

[2020-10-03 16:05] rishu1722 commented on #274
I have also attached a screenshot you can see in that it shows error.

On Sat, 3 Oct, 2020, 9:34 pm Aditya Jetely, <notifications@github.com>
wrote:

[2020-10-03 16:09] AdityaJ7 commented on #274
@rishu1722  ok let me check this script locally

[2020-10-03 16:14] AdityaJ7 commented on #274
okay @rishu1722 try to solve it , it maybe some issue with the script or the fact that @ritesh-dt  mentioned earlier

[2020-10-03 16:17] #186 closed

[2020-10-03 16:20] ritesh-dt commented on #274
@AdityaJ7's profile (full name is present)
<img width="359" alt="image" src="https://user-images.githubusercontent.com/53569176/94996368-fc05d600-05c1-11eb-937f-60abed840dcc.png">
@rishu1722's profile (full name is absent)
<img width="359" alt="image" src="https://user-images.githubusercontent.com/53569176/94996390-1049d300-05c2-11eb-9b51-8aa017e067e8.png">

@rishu1722 Try adding your full name to

[2020-10-03 16:21] AdityaJ7 commented on #274
Yes correct , closing this issue i verified it multiple times

[2020-10-03 16:21] #274 closed

[2020-10-03 16:34] Jayanth19524 commented on #155
even though this has been assigned to someone else can I work on this and make a pull request?

[2020-10-03 16:44] Mysterious-Owl opened #277 "help"
# Description
1. Can someone make script to submit certificates to linkedin from text file,<br>
2.  A script to login in my college website and submit attendance. http://moodle.mitsgwalior.in/
     Login is just post request with username and password, any ideas to how to login<br>
3. An application to track my screen usage on laptop

## Type of issue
- NOTE: *These boxes can be checked using **`[

[2020-10-03 16:46] Mysterious-Owl commented on #155
I made a pr already, if possible provide feedback.

[2020-10-03 17:23] ritesh-dt commented on #277
What would be in the text file for point number 1?

And also how does the attendance system work for the website?

[2020-10-03 17:26] jaesharma opened #280 "NetCat implementation in python"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the project.

[2020-10-03 17:27] jaesharma commented on #280
hey @AdityaJ7 , assign this to me, will love to contribute.

[2020-10-03 17:31] AyushRajSharma commented on #280
hey, i'm Ayush Raj, i am familiar with netCat and can contribute in it. please assign me.

[2020-10-03 17:35] nmeurer commented on #225
If you don't want to work on it any more just let me know. I'll do it for you.

[2020-10-03 18:40] namanshah01 opened #285 "Telegram Bot for Weather Info"
# Description
A telegram bot which will provide real time weather information to the user using a weather API in python

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x]

[2020-10-03 18:40] TEMHITHORPHE opened #286 "Extract and Group all links in a given page"
# Description
Given a user supplied url, the script will crawl the url extracting all **page links** and gives an output, grouping the extracted links into either internal OR external links

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ x] I have read the project guidelines.
- [ x] I have checked

[2020-10-03 18:41] namanshah01 commented on #285
Hey @AdityaJ7 please assign this issue to me, I would love to work on this

[2020-10-03 18:44] schezfaz commented on #286
Hey, can I  work on this?

[2020-10-03 18:48] TEMHITHORPHE commented on #286
i ccreated this so i can get assigned to it sir ... am already half way through

[2020-10-03 19:45] thelokeshgoel00 commented on #31
Can I implement a torrent downloading script in python using python3-libtorrent

[2020-10-03 20:01] jaesharma commented on #31
hey @AdityaJ7 I am working on a mass bomber script for calls/SMS. Assign me this, PR will be up by tomorrow morning. Will put this in Miscellaneous folder.

[2020-10-03 20:13] Mysterious-Owl commented on #277
text file or technically a json/xml file with keys and values as the certificate submission form has on LinkedIn
attendance system is, first login(form post request) and then go to respective teacher and then open the attendance section and then submit your attendance by checking the box infront of present, enter password if needed.
Any tutorial/resource on how to login to websites and handle cook

[2020-10-03 20:50] piraces commented on #254
I will work on this if you are ok with it 😀

[2020-10-03 22:19] GodSaveTheDoge opened #289 "Scrape / use api to get some jokes."
# Description

Use some joke api / scrape a site with jokes (like https://sv443.net/jokeapi/v2/).

## Type of issue

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will b

[2020-10-03 22:26] GodSaveTheDoge commented on #289
If you can assign me it ^-^

[2020-10-03 22:33] Adam-94 commented on #289
Any chance I could be assigned for this?

[2020-10-04 03:33] rishu1722 opened #290 "Making a bot for the automation of chrome dinasour game."
# Description
This script will help the user to play the chrome dinasour unlimited!!!!!!

## Type of issue

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaning

[2020-10-04 03:33] rishu1722 commented on #290
I want to work on it.

[2020-10-04 03:35] rishu1722 opened #291 "Making a AI which will talk with us and follow our command.(jarvis)"
# Description

This script can work like a gooogle assitant or a Jarvis.

## Type of issue

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the proj

[2020-10-04 03:36] rishu1722 commented on #291
I wanted to work on it.

[2020-10-04 04:06] AdityaJ7 commented on #289
SURE GO FOR IT

[2020-10-04 04:06] AdityaJ7 commented on #289
sorry the issue creator claimed it first

[2020-10-04 04:07] AdityaJ7 commented on #289
@GodSaveTheDoge place it under API if you use an API otherwise under scraper

[2020-10-04 04:08] AdityaJ7 commented on #31
ok cool @jaesharma

[2020-10-04 04:13] AdityaJ7 commented on #285
Sure @namanshah01

[2020-10-04 04:15] AdityaJ7 commented on #31
Cool go for it @thelokeshgoel00

[2020-10-04 04:37] mahendrarathore1742 opened #294 "social media scraping"
Download the social mdeia data like  videos and  phtotos using the python script !

[2020-10-04 04:54] AdityaJ7 commented on #294
which social media are u referring to @mahendrarathore1742 ?

If Instagram then don't make this because that kind of script already exists

[2020-10-04 04:56] mahendrarathore1742 commented on #294
Youtube and facebook more  10+ social medias

[2020-10-04 05:03] AdityaJ7 opened #301 "(FLK-E711) Equality comparison detected with singleton object"
## Description
Comparisons to the singleton objects, like `True`, `False`, and `None`, should be done with identity, not equality. Use “is” or “is not”. Identity checks are faster than equality checks. Bad: ```python value = fx() if value != None: print(value) ``` Good: ```python value = fx() if value is not None: …

## Occurrences
There are 4 occurrences of this issue in the repository.

See all

[2020-10-04 05:03] AdityaJ7 opened #302 "(PYL-R1714) Consider using `in`"
## Description
To check if a variable is equal to one of many values, combine the values into a tuple and check if the variable is contained `in` it instead of checking for equality against each of the values. This is faster, less verbose, and more readable.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Python-W

[2020-10-04 05:04] AdityaJ7 commented on #294
ok then go for it

[2020-10-04 05:18] #301 closed

[2020-10-04 05:18] #302 closed

[2020-10-04 05:31] AdityaJ7 opened #307 "(FLK-E101) Indentation contains mixed spaces and tabs"
## Description
Indentation has has both tabs and spaces in it. You should use either tabs or spaces, but not both.

## Occurrences
There is 1 occurrence of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Python-World/Python_and_the_Web/issue/FLK-E101/occurrences/](https://deepsource.io/gh/Python-World/Python_and_the_Web/issue/FLK-E101/occurrences/)

[2020-10-04 05:33] mahendrarathore1742 commented on #294
I sent a pull request check it

[2020-10-04 05:34] CaptainRoberts opened #308 "Twitter Unfollow Bot"
# Description

A twitter bot that automatically unfollows people who are not followed back to you. Will be developed using python and Tweepy.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new

[2020-10-04 05:34] CaptainRoberts commented on #308
I would like this issue to be assigned to me @AdityaJ7
Thank you very much, and have a nice day!

[2020-10-04 05:41] #307 closed

[2020-10-04 06:22] adityagandhamal opened #313 "Motion detection and tracking"
# Description

To write a Python script which detects motion of people moving in a videoframe and tracks their movement.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X]

[2020-10-04 06:23] adityagandhamal commented on #313
I would like to work on this one. Please assign me the task.

[2020-10-04 07:08] swaroopmaddu opened #317 "An Organiser application using Python and Qt5"
# Description
  - New project organizer application using python and Qt5
  - Organiser application to plan your days and todos

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [X] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.

[2020-10-04 08:05] rishu1722 commented on #290
Should I close the Issue?

[2020-10-04 10:04] #18 closed

[2020-10-04 10:07] #36 closed

[2020-10-04 10:21] tusharnankani commented on #317
Please rename your issue name, according to the project-name! @swaroopmaddu

[2020-10-04 10:22] YASHBRO opened #330 "COVID-19 Scrapper"
# Everything on COVID-19

- This is a *better scrapper* for generating stats for COVID-19 as in this one will display the following stats:
    1. **COVID stats of the world**
    2. **COVID stats of top 10 countries**
    3. **COVID stats for any requested countries**

- As I'll add a `.exe` along with the source code( `.py` file), so it will have no dependencies.

- If you want it to have more fe

[2020-10-04 10:23] swaroopmaddu commented on #317
Done

[2020-10-04 11:15] Ishaan-0098 opened #333 "To-Do-App-with-a-timer (windows application)"
# Description

A to do windows application with a timer and a decent gui.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X ] I have read the project guidelines.
- [ X] I have checked all the existing projects, before submitting a new project issue.
- [ X] I have checked previous issues to avoid dup

[2020-10-04 11:16] AdityaJ7 commented on #333
Sure @Ishaan-0098 you can work on it

[2020-10-04 11:34] #39 closed

[2020-10-04 12:12] swaroopmaddu opened #338 "Youtube Downloader"
# Description
   - Download youtube videos with pythin

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [X] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This is

[2020-10-04 12:25] #135 closed

[2020-10-04 12:34] Lakshitk commented on #225
I would like the documentation to be assigned to me
Thank you very much, and have a nice day!

[2020-10-04 12:36] Lakshitk commented on #219
I would like the documentation to be assigned to me
Thank you very much, and have a nice day!

[2020-10-04 14:13] #280 closed

[2020-10-04 15:07] AdityaJ7 opened #347 "Simple cryptocurrency convertor with python"
# Description

Create a command-line based cryptocurrency convertor with Python

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-04 15:09] AdityaJ7 opened #348 "LeetCode Problem Scraper"
# Description

Scrape problem statement from leetcode based on the problem code provided by the user.

Save the result in txt or pdf file.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This i

[2020-10-04 15:12] AdityaJ7 opened #349 "Set wallpaper through Python"
# Description

Create a simple script which takes a jpeg file and sets it as your system wallpaper/desktop background

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningf

[2020-10-04 15:13] AdityaJ7 commented on #349
Two people can work on this one for Linux other for Windows

[2020-10-04 15:14] symtalha14 commented on #349
Hello, I would like to contribute to this. Please assign me so that I can initiate a PR.

[2020-10-04 15:17] AdityaJ7 commented on #349
Which Os you want to work for?

[2020-10-04 15:18] symtalha14 commented on #349
For Windows

[2020-10-04 15:19] AdityaJ7 opened #350 "Find Repository Size with Python"
# Description

Create a script to find the size of a GitHub repository by using the Github rest API

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project

[2020-10-04 15:21] abhinavanand123 commented on #347
Hello @AdityaJ7 I want to work on this issue
So can u plz assign me this so that I can initiate the PR

[2020-10-04 15:21] YASHBRO opened #351 "Instagram Bot"
## Instagram bot

1. **Give list of people** :
	- Who don't follow you back
		- _Optional-> Unfollow them all_
	- Whom you don't follow back
		- _Optional-> Follow back them all_

2. **Spamming bot** :
	- It can spam multiple people with the custom message you provide

## Type of issue
- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines

[2020-10-04 15:21] AdityaJ7 commented on #347
Sure @abhinavanand123

[2020-10-04 15:29] AdityaJ7 opened #352 "Scrape live cricket scores from Cricbuzz"
# Description

Create a script to scrape live scores from cricbuzz

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-04 15:30] dhiganthrao commented on #350
Has this issue already been claimed? If not, may I work on this? I'd like to try working with the GitHub REST API and this seems like a good first start.

[2020-10-04 15:31] AdityaJ7 commented on #350
assigned to you @dhiganthrao

[2020-10-04 15:34] dhiganthrao commented on #350
Thanks! Will try doing it to the best of my ability. Any deadlines or can I work on this leisurely? (Until Hacktoberfest ends, that is)

[2020-10-04 15:36] AdityaJ7 commented on #350
7 days

[2020-10-04 15:42] symtalha14 commented on #349
Please Review my PR

[2020-10-04 15:43] AdityaJ7 opened #354 "Scrape Cricket News from Cricbuzz"
# Description

Scrape the latest news from cricbuzz and store it in a text file.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue

[2020-10-04 15:54] #216 closed

[2020-10-04 15:56] kartavyashankar commented on #354
I am ready for this, please assign me this issue

[2020-10-04 15:57] AdityaJ7 commented on #354
Sure @kartavyashankar

[2020-10-04 15:57] Anshul275 commented on #352
I am up for this. Please assign me this issue :)

[2020-10-04 16:44] Meghana-12 commented on #39
Why is this issue closed @AdityaJ7 ?

[2020-10-04 17:39] dhiganthrao commented on #350
Just enquiring, you don't need a final solution in the form of an application right? Would a .py file be enough?

[2020-10-04 17:57] MaheshBharadwaj commented on #348
I would like to try this one, will un-assign if unable to complete

[2020-10-04 18:05] MaheshBharadwaj commented on #348
I would like to try this one @AdityaJ7 , if unable to complete will un-assign myself

[2020-10-04 20:03] officialpm commented on #348
I would like to work on it! 💯

[2020-10-05 02:46] AdityaJ7 commented on #350
Yes a .py file is enough, do attach a readme file along with a screenshot of the script I action

[2020-10-05 02:52] #241 closed

[2020-10-05 03:10] #225 closed

[2020-10-05 04:54] SyahirahWanMin commented on #348
please assign me for this task .Thanks

[2020-10-05 05:09] ritesh-dt commented on #349
I would like to work on changing the background on Linux based operating systems.

[2020-10-05 05:28] AdityaJ7 commented on #349
cool @ritesh-dt  go for it

[2020-10-05 05:52] dhiganthrao commented on #350
@AdityaJ7 whenever you're free, do review my pull request. Thanks!

[2020-10-05 06:48] dhiganthrao commented on #350
@AdityaJ7 thanks for merging my files! Is there anything else I should do to get the hacktoberfest-accepted label for this? Also, if I make pull requests on other issues in this repo, will it be counted as another separate pull request added to my count?

[2020-10-05 06:56] #250 closed

[2020-10-05 07:00] #57 closed

[2020-10-05 07:20] #350 closed

[2020-10-05 07:21] mahendrarathore1742 commented on #338
can i work on it.

[2020-10-05 07:22] AdityaJ7 commented on #338
Somebody is working on it already

[2020-10-05 07:23] mahendrarathore1742 commented on #338
OK

[2020-10-05 07:29] #219 closed

[2020-10-05 07:40] mahendrarathore1742 commented on #31
Can  we create  .PNG to .JPG

[2020-10-05 07:52] AdityaJ7 commented on #31
it already exists in our collection

[2020-10-05 10:00] #253 closed

[2020-10-05 11:33] #317 closed

[2020-10-05 12:48] #285 closed

[2020-10-05 12:48] shivanshsinghal107 opened #373 "Scrape algo trading articles from quant finance websites"
# Description

Scrape top algorithmic trading articles and mathematical finance articles from Quantopian, Quantstart, Quantocracy.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked prev

[2020-10-05 12:59] shivanshsinghal107 commented on #373
I am working on this issue, can you assign me, please.

[2020-10-05 13:36] AdityaJ7 commented on #373
You are assigned already

[2020-10-05 15:04] AdityaJ7 opened #380 "Write a script to detect number plates"
# Description

Write a script to detect LICENSE number plates in an image using Python

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-05 15:06] AdityaJ7 opened #381 "Scrape news from Google News"
# Description

Create a script to scrape the latest news from Google news.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-05 15:08] TEMHITHORPHE commented on #380
As in vehicle plate numbers!!?? ....
if so, can't wait for someone to get this done! ... i really really need this ... lol ... and to see the implementation

[2020-10-05 15:10] AdityaJ7 opened #382 "Scrape articles from the Cricket Monthly"
# Description

Write a script to scrape articles from this website - [Cricket Monthly](https://www.thecricketmonthly.com/)

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be mea

[2020-10-05 15:11] TEMHITHORPHE opened #383 "Github-Folder-Download-Tool"
# Description

A python tool that takes a **github folder** as input and **downloads recursively everything in the folder**

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ x] I have read the project guidelines.
- [ x] I have checked all the existing projects, before submitting a new project issue.

[2020-10-05 15:18] TEMHITHORPHE commented on #381
which specific beat should be covered ... just checked the site now and it has a lot of sections!

[2020-10-05 15:20] TEMHITHORPHE commented on #333
commenting just to get emailed|tagged when this is done.

[2020-10-05 15:32] AdityaJ7 opened #386 "(PTC-W0010) File opened without the `with` statement"
## Description
Opening a file using `with` statement is preferred as function `open` implements the context manager protocol that releases the resource when it is outside of the `with` block. Not doing so requires you to manually release the resource.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Python-World/Py

[2020-10-05 15:34] fuzzmz commented on #386
@AdityaJ7, I can have a PR ready in a couple of minutes. Mind assigning this to me?

[2020-10-05 15:37] TEMHITHORPHE commented on #381
![Screenshot (248)](https://user-images.githubusercontent.com/19387360/95100220-cb8c7c00-0728-11eb-890a-ff22ee097288.png)

So should the script just scrape the **latest** news or still ask user for more fine tuning?

[2020-10-05 15:39] AdityaJ7 commented on #386
Sure, go ahead with this

[2020-10-05 15:39] AdityaJ7 commented on #386
Comment here if you have doubts about the exact files that need to be fixed

[2020-10-05 15:52] #386 closed

[2020-10-05 15:55] AdityaJ7 opened #389 "(FLK-E101) Indentation contains mixed spaces and tabs"
## Description
Indentation has has both tabs and spaces in it. You should use either tabs or spaces, but not both.

## Occurrences
There are 15 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/Python-World/Python_and_the_Web/issue/FLK-E101/occurrences/](https://deepsource.io/gh/Python-World/Python_and_the_Web/issue/FLK-E101/occurrences/)

[2020-10-05 15:58] AdityaJ7 commented on #389
comment here if you need clarity but which file has the above issue

[2020-10-05 16:11] TEMHITHORPHE commented on #381
... was hoping you wouldn't say that ... that's a lot of code ... lol

[2020-10-05 16:54] Skr-suyash commented on #382
Which format the output data should be in (csv, word etc.)?

[2020-10-05 17:27] jairoufps opened #390 "scraper tool to verify if a site is vulnerable to attacks to the xmlrpc protocol in wordpress"
# Description
this is a simple script to check if a list of sites in wordpress are vulnerable to xmlrpc attack and it lists the methods that can be queried in the xmlrpc api

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing p

[2020-10-05 17:48] Nirali0029 commented on #389
So can you please explain what needs to be done?

[2020-10-05 17:52] reddymahendra52 opened #392 "Simple speech to text program using Python"
# Speech Recognition using Python

A simple program which tells the uses of PyAudio for Speech Recognition.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ X] Feature (New Script)
- [ ] Bug
- [X ] Documentation

## Checklist:

- [ X] I have read the project guidelines.
- [ X] I have checked all the existing projects, before submitting a new project issue.
- [X ] I have

[2020-10-05 17:58] reddymahendra52 commented on #392
Can you please assign me this issue i want to do it...

[2020-10-05 18:03] arthuralmeida93 commented on #389
I can take this issue. Can you assign it to me?

[2020-10-05 18:54] prkhrv commented on #79
@rishu1722 sure , I will let you know .

[2020-10-05 19:03] mshandrovskiy commented on #389
Please assign the issue to me.

[2020-10-05 19:27] tusharnankani commented on #392
Hi @reddymahendra52

Appreciate your thought for contributing to this, but this script has already been added in our other [repository.](https://github.com/Python-World/python-mini-projects)

Feel free to contribute to our other issues or open issues!

[2020-10-05 20:09] MNISAR opened #394 "Adding new Wikipedia's API."
# Description

Adding <b>new </b>Wikipedia's API into the repo.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Wikipedia (New Script[API])
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ ] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicate

[2020-10-05 21:16] TediaN97 commented on #330
i would take this issue

[2020-10-05 21:34] shreyamodi1999 commented on #380
Hey can you assign this to me ? I would love to give this a try

[2020-10-06 02:37] reddymahendra52 commented on #392
We can only add scripts??
Or we can add tutorial like explaining a certain topic with mardown and jupyternotebook.??

[2020-10-06 02:46] AdityaJ7 commented on #382
CSV or txt

[2020-10-06 02:49] AdityaJ7 commented on #389
there is a script named twilio_sms under the API directory, it consists of 15 occurrences of mixed tab and spaces in the indentation.
The indentation must contain only one of them ie either tabs or spaces

[2020-10-06 02:52] AdityaJ7 commented on #392
closing this
@reddymahendra52
Only scripts, you can use Jupyter notebooks for data analysis projects or image processing projects

Thanks

[2020-10-06 02:52] #392 closed

[2020-10-06 04:24] #184 closed

[2020-10-06 04:25] #389 closed

[2020-10-06 04:35] #26 closed

[2020-10-06 04:37] #203 closed

[2020-10-06 04:37] kartavyashankar commented on #354
@AdityaJ7
Should I attach the generated .txt file also?

[2020-10-06 04:41] #308 closed

[2020-10-06 05:01] #254 closed

[2020-10-06 05:09] #352 closed

[2020-10-06 05:40] AdityaJ7 opened #412 "Scrape DevFest India 2020 Schedule"
# Description

Scrape Devfest India 2020 Schedule and store it in a csv file.
CSV Columns must be - Name of event, date, timings, tag, author
Refer this website - [Devfest India Schedule](https://devfestindia.com/schedule)

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new p

[2020-10-06 05:41] AdityaJ7 opened #413 "Scrape Devfest India 2020 Schedule"
# Description

Scrape Devfest India 2020 Schedule and store it in a csv file.
CSV Columns must be - Name of event, date, timings, tag, author
Refer this website - [Devfest India Schedule](https://devfestindia.com/schedule)

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new p

[2020-10-06 05:41] #413 closed

[2020-10-06 05:43] Anshul275 commented on #412
I would like to work. Assign me the issue :)

[2020-10-06 05:59] #354 closed

[2020-10-06 06:02] #394 closed

[2020-10-06 06:11] kartavyashankar commented on #381
@AdityaJ7
I am ready for this, please assign me this issue

[2020-10-06 06:33] kartavyashankar commented on #382
@AdityaJ7
Can you assign me this issue?

[2020-10-06 07:34] dhiganthrao commented on #383
Has this issue been assigned already?

[2020-10-06 07:41] TediaN97 commented on #330
can i take this issue ??

[2020-10-06 07:54] YASHBRO commented on #330
I'm sorry, I already started working on it and its almost done.

[2020-10-06 08:56] AdityaJ7 commented on #383
it has been assigned

[2020-10-06 10:04] #373 closed

[2020-10-06 11:30] adityagandhamal opened #419 "AI which detects human facial expressions"
# Description

To create a facial expressions detection application using Deep Learning and Computer Vision in Python.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I

[2020-10-06 11:31] adityagandhamal commented on #419
I want to work on this issue.

[2020-10-06 11:32] #313 closed

[2020-10-06 11:42] #155 closed

[2020-10-06 11:54] #49 closed

[2020-10-06 11:59] #390 closed

[2020-10-06 12:12] adityagandhamal commented on #419
hey @AdityaJ7 , I have created a PR regarding this issue. Kindly check the same.

[2020-10-06 12:13] #382 closed

[2020-10-06 13:27] ritesh-dt commented on #349
Should I use the folder and files created by @symtalha14 ? So the same file could work for Windows and Linux
I'll rename the folder from "Windows_Wallpaper_Changer" to "Wallpaper_Changer" and make changes to background.py

[2020-10-06 14:45] adityagandhamal opened #429 "Python script to detect cars"
# Description

Car detection and tracking application using Python and OpenCV

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid du

[2020-10-06 14:45] adityagandhamal commented on #429
I want to work on this issue.

[2020-10-06 14:49] Atharv-Joshi opened #430 "Adding new functionalities to the discord bot"
# Description

In the discord bot, I want to add a command which returns the latency of the user  and deletes some general curse words typed in the channel while also sending the concerned user a warning .

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I

[2020-10-06 15:01] #351 closed

[2020-10-06 15:36] AdityaJ7 commented on #349
create a separate folder with changes in the files as per linux

[2020-10-06 15:37] #430 closed

[2020-10-06 15:42] Anshul275 commented on #412
@AdityaJ7 Should I also attach the generated csv file

[2020-10-06 15:42] #429 closed

[2020-10-06 15:47] #348 closed

[2020-10-06 16:57] AnkDos opened #441 "Instagram Metadata Scrapper"
# Description

Added script to scrape instagram metadata of a profile , just enter the username and get the metadata like follower count , profile picture url, follows_count and media count as python dict .

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X]

[2020-10-06 16:57] AnkDos commented on #441
@tusharnankani  please assign this issue to me .

[2020-10-07 04:23] #412 closed

[2020-10-07 08:07] abhinavanand123 commented on #347
@AdityaJ7 I have initiated the PR.

[2020-10-07 11:06] sanketchaudhari10 opened #446 "Screenshot using python"
# Description
 A simple program that will take a screenshot on your command

## Type of issue:
-  *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be m

[2020-10-07 11:09] dhiganthrao commented on #446
If there's no one else assigned, may I work on this?

[2020-10-07 11:11] sanketchaudhari10 commented on #446
@dhiganthrao I am working on it!! Its a one man thing, thanks!!!

[2020-10-07 11:13] dhiganthrao commented on #446
@sanketchaudhari10 ah ok no worries

[2020-10-07 15:16] dhiganthrao opened #447 "Pomodoro Timer using Python"
# Description

A simple script that notifies you every 25 minutes to take a break and divide your work into small chunks. It will run in the background and sends notifications every 25 minutes, with 5 minute breaks in between.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the projec

[2020-10-07 15:18] dhiganthrao commented on #447
Hi, is it possible to review this issue and check if it's suitable for this repository so I may start working on it as soon as possible? Since I'm assigned to this repo, I'll be working on this if it gets accepted. Thanks!

[2020-10-07 15:30] AdityaJ7 commented on #447
You can do ahead with it

[2020-10-08 03:19] #349 closed

[2020-10-08 04:00] #383 closed

[2020-10-08 11:27] AdityaJ7 commented on #38
@anandhakrishnanaji  are you working on this??

[2020-10-08 11:29] AdityaJ7 commented on #232
@xcodz-dot are u working on this??

[2020-10-08 11:31] anandhakrishnanaji commented on #38
I am sorry, I was busy with some other work. Please unassign me.

[2020-10-08 13:38] Anshul275 commented on #38
@AdityaJ7 Can i work on this??

[2020-10-09 00:07] prkhrv commented on #79
Hi Everyone, I am Done with the quiz but still I have Left Few Little Things , If You Want To contribute just send PRs to this repo
https://github.com/prkhrv/Python-CLI-Quiz , Your PRs will be Counted For HacktoberFest, Please Ask First before Sending PRs.

[2020-10-09 00:21] rishu1722 commented on #79
Yes I want to do work on this.

On Fri, 9 Oct, 2020, 5:38 am Prakhar Varshney, <notifications@github.com>
wrote:

[2020-10-09 02:46] #381 closed

[2020-10-09 03:48] #90 closed

[2020-10-09 05:03] vanigupta20024 opened #455 "CLI based Disk Usage Stats"
# Description

Python script to provide the current disk usage in the Command Line in a human readable format.
## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have che

[2020-10-09 06:57] aakashdinkar opened #457 "Movie Recommender"
# Description

I would like to add a python program for Movie Recommendation using tastedive and OMDB APIs

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [x] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checke

[2020-10-09 07:08] #455 closed

[2020-10-09 07:47] AnkDos commented on #441
@tusharnankani  I have made all the changes suggested by you .

[2020-10-09 08:09] MaheshBharadwaj opened #460 "[New Script] Soccer League Table CLI for major leagues"
# Description
Display current standings in the league requested by using a free API or scraping a webpage.
## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked

[2020-10-09 08:10] MaheshBharadwaj commented on #460
If this issue is okay, I will start working on it :D

[2020-10-09 08:14] Sahil-k1509 commented on #79
@prkhrv  Sure, I will help in adding more questions

[2020-10-09 09:44] ritesh-dt commented on #16
Can I work on this? I'll make a player where the user can select a music file and play it. The GUI would also have play/pause and rewind functionality.

[2020-10-09 10:47] #457 closed

[2020-10-09 11:34] King-Del-ErnestO commented on #460
Please I want to be assigned to this project

[2020-10-09 13:32] abhinavanand123 commented on #347
@AdityaJ7 I have made the necessary changes.
Can you plz go through it??

[2020-10-09 13:37] AdityaJ7 commented on #347
@abhinavanand123 ok i am checking it

[2020-10-09 13:51] abhinavanand123 commented on #347
@AdityaJ7 can u plz help me out with placing my folder to API directory.
As I know a very little about it.

[2020-10-09 14:07] AdityaJ7 commented on #347
@abhinavanand123  go to your local clone of the repo and move your folder into API folder, then commit the changes and push them

[2020-10-09 14:09] abhinavanand123 commented on #347
Shall I create a new API folder or Is there a existing API folder

[2020-10-09 14:10] AdityaJ7 commented on #347
@abhinavanand123 there is an existing folder

[2020-10-09 14:44] #460 closed

[2020-10-09 14:51] abhinavanand123 commented on #347
@AdityaJ7 I am not able to proceed.
I have no idea where I am going wrong

[2020-10-09 14:53] AdityaJ7 commented on #347
@abhinavanand123 you have placed it correctly now but you forgot to remove it from the old place so now top instances of same files are present in your or in two different locations

[2020-10-09 14:54] abhinavanand123 commented on #347
yes exactly so how to remove it from there @AdityaJ7
Can u help me out

[2020-10-09 14:55] AdityaJ7 commented on #347
Yes i will remove the duplicates

[2020-10-09 15:02] abhinavanand123 commented on #347
okay sure @AdityaJ7
Next what has to be done let me know

[2020-10-09 15:04] AdityaJ7 commented on #347
@abhinavanand123 I have suggested the changes there if you still have doubt then do let me know

[2020-10-09 15:10] abhinavanand123 commented on #347
Okay sure

[2020-10-09 16:24] abhinavanand123 commented on #347
@AdityaJ7 I have made the changes requested by you
Can you plz once go through it and do let me know

[2020-10-10 03:57] #38 closed

[2020-10-10 04:29] AdityaJ7 opened #471 "Scrape Upcoming Codechef contests"
# Description

Use python to scrape the upcoming codechef contests and store the result in a csv or text file.
.
## Type of issue

- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for

[2020-10-10 04:33] AdityaJ7 opened #472 "Key Logger with Python"
# Description

Create a simple key logger with Python.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-10 04:35] AdityaJ7 opened #473 "LInkedin Post Scraper"
# Description

Scrape the content of a LinkedIn post. The post must be user defined

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-10 04:36] ritesh-dt commented on #471
I would like to work on this issue? @AdityaJ7 Could you assign this to me?

[2020-10-10 04:37] AdityaJ7 opened #474 "Scrape posts from Quora"
# Description

Use python to scrape posts from quora and save the result in a txt or pdf file

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-10 04:39] ritesh-dt commented on #471
@AdityaJ7 Thanks!!

[2020-10-10 04:40] AdityaJ7 opened #475 "Automate Zoom meetings"
# Description

Python script that starts a zoom meeting for you provided the id and password form the console.
Keep mic and camera off.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issu

[2020-10-10 04:47] ritesh-dt commented on #471
@AdityaJ7 Can this issue be worked on?
It's marked as up-for-grab and stale as well. [Music Player](https://github.com/Python-World/Python_and_the_Web/issues/16)

[2020-10-10 05:08] AdityaJ7 commented on #471
Yes you can work on it

[2020-10-10 05:40] Anshul275 commented on #475
Can i work on this :)

[2020-10-10 05:49] #441 closed

[2020-10-10 06:47] code-netizen commented on #472
i want to work on this

[2020-10-10 07:09] hardik-dadhich commented on #192
@AdityaJ7 can I close it ?

[2020-10-10 07:09] #192 closed

[2020-10-10 07:27] 20prince12 commented on #474
I can work if it is still up.

[2020-10-10 07:32] divya2703 commented on #474
I would like to work on this issue.

[2020-10-10 07:48] code-netizen commented on #472
i have made PR right now have a look plz tell if any change need

[2020-10-10 12:32] kartavyashankar commented on #473
@AdityaJ7
I will like to try this issue. Please assign me.

[2020-10-10 16:32] prkhrv commented on #79
@AdityaJ7  Added Basic Quiz Application , in PR #480 . Please Review and Merge.
Thanks a lot every One For the Help .

[2020-10-10 16:46] AdeshChoudhar19 commented on #45
Please give me some more time.

[2020-10-10 16:59] xcodz-dot commented on #232
Sorry, I will not be able to work cause my school examinations are going on and i have to pay attention to ht codeathon

[2020-10-10 19:19] AdeshChoudhar19 commented on #45
I have submitted a pull request. Please check and sorry for the delay.

[2020-10-11 03:03] JaredLGillespie opened #484 "CurseForge Minecraft Modpack Scraper"
# Description

Scrape the mods for a given Minecraft modpack from the [Curseforge](curseforge.com) website.

## Type of issue
- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the

[2020-10-11 03:03] JaredLGillespie commented on #484
Please assign to me :)

[2020-10-11 04:07] CaptainRoberts commented on #247
Hello @AdityaJ7 the bot says the issue is stale but I already uploaded the final working script for the project.
Any information with regards to the matter will be appreciated. Thanks and have a nice day!

[2020-10-11 06:16] imsahil007 opened #485 "GSoC organization scraper"
# Description
Scrap organization list from gsoc website and print them in order of no. of times the organization got selected.

## Type of issue

- [x] Feature (New Script)
## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be

[2020-10-11 06:16] imsahil007 commented on #485
Can i start working on this?

[2020-10-11 06:54] AdityaJ7 commented on #485
yeah

[2020-10-11 07:03] #485 closed

[2020-10-11 07:05] #471 closed

[2020-10-11 07:09] #79 closed

[2020-10-11 07:17] #330 closed

[2020-10-11 07:31] #45 closed

[2020-10-11 08:45] Vyprath commented on #28
Hi. I'd like to do this

[2020-10-11 09:27] AdityaJ7 commented on #28
ok

[2020-10-11 09:30] AdityaJ7 commented on #247
Yes, you did that ah it occurred cause this issue wasn't linked to your or, no problem i am closing this

[2020-10-11 09:30] #247 closed

[2020-10-11 15:21] tenzu15 commented on #31
Is this still open for contribution?

[2020-10-11 16:12] schezfaz opened #494 "Python CHMOD simplifier"
# Description
A script to give a detailed break-up of the CHMOD permissions used for unix based file systems to change permissions.

Eg.  input: 777
output:  rwxrwxrwx

Eg. 755
output: rwxr-xr-x

## Type of issue
- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:
- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new p

[2020-10-11 16:12] schezfaz commented on #494
I'd like to work on this issue!

[2020-10-11 16:24] AdityaJ7 commented on #31
Yes it is open

[2020-10-11 16:26] tenzu15 commented on #31
I would like to try scraping Job Sites

[2020-10-11 18:35] AdeshChoudhar19 commented on #27
This issue is marked stale. Can I work on this, if previously assigned contributor agrees?

[2020-10-11 18:36] AdeshChoudhar19 commented on #19
This issue is marked stale. Can I work on this, if @WisnuDS agrees?

[2020-10-11 18:37] AdeshChoudhar19 commented on #5
This issue is marked stale. Can I work on this if @grplyler agrees?

[2020-10-12 02:56] AdityaJ7 commented on #5
We'll wait for a day or two and will assign it to you if the concerned person doesn't responds

[2020-10-12 02:57] AdityaJ7 commented on #19
We'll wait for a day or two and will assign it to you if the concerned person doesn't respond

[2020-10-12 02:58] AdityaJ7 commented on #27
We'll wait for a day or two and will assign it to you if the concerned person doesn't respond

[2020-10-12 03:06] #224 closed

[2020-10-12 03:17] #347 closed

[2020-10-12 09:53] #475 closed

[2020-10-12 10:01] #230 closed

[2020-10-12 14:51] dhiganthrao commented on #447
Since this Issue has been resolved by merging my pull request into this repository, I am closing this Issue. Cheers!

[2020-10-12 14:51] #447 closed

[2020-10-12 16:42] AnkDos opened #506 "Random Album Suggestion API"
# Description

An API to suggest a random album from Rolling Stone's 500 Greatest Albums of All Time dateset. The main aim behind this API is to showcase the proper folder structure to organize code in a flask project using blueprint as I came across lot of good flask projects where routes and logic written in a single file .Will push it on heroku and will add the required files used while deployi

[2020-10-12 16:43] AnkDos commented on #506
@tusharnankani  please assign me this.

[2020-10-12 16:52] tusharnankani commented on #506
It is already assigned, thanks to our very own `github-actions` bot.
You can start working on it! ^_^

[2020-10-13 03:41] #289 closed

[2020-10-13 03:42] AdityaJ7 commented on #232
OK no problem @xcodz-dot Good luck with the exams and codeathon

[2020-10-13 05:57] Anshul275 commented on #286
@TEMHITHORPHE  Are you up to this :)
As the issue is stale for 9 days.

If not, @AdityaJ7 , can you assign me this??

[2020-10-13 09:18] tenzu15 opened #509 "Job Site Scraping"
# Description

Given a user query, scrape and return all available position from a set of job related websites. #31

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ ] Feature (New Script)
- [ ] Documentation

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] I have checked

[2020-10-14 08:15] ADV1K opened #512 "Project Addition - 15 Puzzle Game"
Hi. I want to add new project to this repo. It is a game called 15 Puzzle.
![score](https://user-images.githubusercontent.com/35737096/95962016-78e74a00-0e23-11eb-8bac-905320062697.png)

[2020-10-14 11:10] ADV1K opened #515 "Codeforces Profile Scrapper"
A Simple Python Script to Scrap the details of a codeforces user and then display the details in a tkinter gui.

[2020-10-14 11:40] ADV1K opened #517 "Python Script to Download NASA Astronomy Pic Of The Day"
Python Script to Download NASA Astronomy Pic Of The Day and set it as your wallpaper (works on windows only!)

[2020-10-14 11:42] ADV1K opened #518 "Python Script to Download Latest Dilbert Comic"
# Description

Python Script to Download Latest Dilbert Comic and open it in your default image viewer program.

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for

[2020-10-14 12:00] parth93QA commented on #517
can you assign me this

[2020-10-14 12:18] ADV1K opened #521 "Turtle Clock"
## Description

A simple Analog Clock made with Python Turtle

## Type of issue

- [x] Feature (New Script)

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-14 15:22] sksDonni commented on #517
I would love to work on this issue.

[2020-10-14 19:34] ritik-malik opened #523 "PacMan using PyGame"
# PacMan using PyGame

A simple implementation of the original PacMan in python using the PyGame library

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked

[2020-10-14 20:33] MAKali4737 opened #525 "Documentation"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ ] Feature (New Script)
- [ ] Bug
- [X] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will be meaningful for the project.

[2020-10-14 20:35] #525 closed

[2020-10-15 03:41] #506 closed

[2020-10-15 03:50] AdityaJ7 commented on #521
@ADV1K  Please don't clear the Issue or PR template from next time

[2020-10-15 04:17] AdityaJ7 commented on #286
@Anshul275 assigning to you

[2020-10-15 06:57] gurleen3 commented on #523
Sir, I am a beginner, How can I contribute to the issue?

[2020-10-15 07:04] #523 closed

[2020-10-15 07:05] krishnasharma1386 commented on #521
can I submit my pull request on this topic?

[2020-10-15 07:05] AdityaJ7 commented on #523
This issue has been resolved,  we will be posting other issues soon

[2020-10-15 07:06] AdityaJ7 commented on #521
No, this issue has been claimed

[2020-10-15 08:08] ritik-malik opened #533 "Mass Mail Spammer"
# Mass Mail Spammer

A python + bash script to send any number of trash emails from your google account, with custom trash messages (can also be taken from a file) to any target. The connection is made via secure openssl to GSMTP

## Type of issue

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existin

[2020-10-15 11:47] tdserapio commented on #533
Although I will be using pyautougui, may I be assigned this task?

[2020-10-15 15:39] TEMHITHORPHE commented on #286
nah!! am done!!!

On Thu, Oct 15, 2020 at 5:18 AM Aditya Jetely <notifications@github.com>
wrote:

[2020-10-15 15:48] #533 closed

[2020-10-15 19:44] tusharnankani commented on #509
You could also try contributing to one of our organization's project: [Joble](https://github.com/Python-World/Joble)

[2020-10-15 20:06] tenzu15 commented on #509
Sure!

[2020-10-15 20:34] prateekralhan opened #537 "Python Script - Turn PDFs to Audio books"
# Description

### Turn your PDFs :bookmark_tabs: into audio books :musical_note:
A handy script to convert your PDFs/books into audiobooks.

***( I thought of using this when I am travelling and feel lazy enough to read... :wink: )***
## Type of issue

- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submit

[2020-10-16 00:19] valterm commented on #518
I'd like to work on this, could this please be assigned to me?

[2020-10-16 01:50] #47 closed

[2020-10-16 01:50] #46 closed

[2020-10-16 01:50] #14 closed

[2020-10-16 02:44] ritik-malik commented on #472
Hi, I saw the keylogger,
and I was thinking to add some more features to it like -
1. Making a secret end signal which automatically closes the hidden script
2. Will make a cross compiled binary for multi platform
3. Managing the CPU load
4. Save the output to a file
Can this be accepted as an issue?

[2020-10-16 03:10] ritik-malik opened #539 "Google-Py Translator"
# Google-Py Translator
A py script to translate sentences/files using G-Translate API

## Type of issue

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful

[2020-10-16 05:17] AdityaJ7 commented on #472
Sure you can go ahead with the improvements

[2020-10-16 05:18] AdityaJ7 commented on #518
sorry the issue's author has already submitted a pr related to it

[2020-10-16 05:20] ritik-malik commented on #472
2 more doubts before proceeding -
1. So do I make a new directory or change in the old one?
2. Will this be counted towards hactoberfest?

[2020-10-16 05:24] AdityaJ7 commented on #472
make changes in the already existing code

yes it will be counted

[2020-10-16 05:29] #537 closed

[2020-10-16 05:51] sohamsahare123 opened #541 "Bulk Certificate Generator and emailer"
# Bulk Certificate Generator and emailer
A python script to generate bulk certificates and email them to their respective email id by using a .csv file

## Type of issue

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previo

[2020-10-16 06:33] #539 closed

[2020-10-16 08:54] #541 closed

[2020-10-16 13:27] #512 closed

[2020-10-16 13:28] #472 closed

[2020-10-16 15:17] #518 closed

[2020-10-16 15:19] #517 closed

[2020-10-16 15:19] #521 closed

[2020-10-16 17:58] valterm commented on #120
The issue has been marked as stale a week ago, and there is no apparent activity. If possible I'd like to start working on it.

[2020-10-17 01:49] #189 closed

[2020-10-17 01:49] #148 closed

[2020-10-17 01:49] #141 closed

[2020-10-17 01:49] #134 closed

[2020-10-17 01:49] #124 closed

[2020-10-17 01:49] #1 closed

[2020-10-18 01:51] #263 closed

[2020-10-18 01:51] #277 closed

[2020-10-18 01:51] #205 closed

[2020-10-18 01:51] #221 closed

[2020-10-18 01:51] #197 closed

[2020-10-18 01:51] #200 closed

[2020-10-18 01:51] #32 closed

[2020-10-18 09:27] bamblebam opened #560 "Weather API script"
# Description

A python script to get the weather information from openweatherorg and display it in the terminal.

## Type of issue

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] T

[2020-10-18 10:21] lavish619 opened #561 "Scientific Calculator in Python"
# Description

I want to add a GUI Scientific Calculator script in python.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid dupli

[2020-10-18 13:04] #515 closed

[2020-10-18 13:48] #560 closed

[2020-10-18 14:44] kartavyashankar commented on #561
I want to try this
Please assign it to me

[2020-10-18 14:52] AdityaJ7 commented on #561
Sorry @kartavyashankar the issue author has already completed this

[2020-10-18 14:53] kartavyashankar commented on #561
Oh, Okay :)

[2020-10-18 17:09] SeaSkyThe opened #566 "Simple PGM image processing."
# Description

I want to add a script that works with PGM Images, doing some simple processing.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous

[2020-10-18 17:17] SeaSkyThe commented on #31
I want to add a simple PGM image processing.

[2020-10-18 18:33] Remakh opened #568 "Script that forks and clones a repo into a selected location using the Github API"
# Description

I'd like to add a script that forks and clones a repo into a given location. Inspired by Hacktoberfest

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I

[2020-10-18 18:33] Remakh commented on #568
Please assign me

[2020-10-19 01:52] #294 closed

[2020-10-19 01:52] #290 closed

[2020-10-19 01:52] #291 closed

[2020-10-19 04:01] #561 closed

[2020-10-19 06:16] pksgmv commented on #31
Hey @AdityaJ7 I would like to add an Amazon Price Tracker script using Selenium Automation with Python. It scrapes the Amazon website by taking a search term, a minimum price for filter and a maximum price for filter as inputs from the user and scrapes through items found after performing the automated Search, then generates a JSON file containing the scraped data about various items in the search

[2020-10-19 08:27] #568 closed

[2020-10-19 09:04] AdityaJ7 commented on #31
Sure go for it

[2020-10-19 09:04] AdityaJ7 commented on #31
Sure go for it

[2020-10-19 09:49] AnkDos commented on #28
@AdityaJ7 Assign me this

[2020-10-19 11:04] AdityaJ7 commented on #28
sure

[2020-10-19 14:02] #473 closed

[2020-10-19 14:05] #286 closed

[2020-10-19 14:28] tusharnankani opened #578 "Script that solves the 15 puzzle game"
# Description

This is a [15puzzle game](https://github.com/Python-World/Python_and_the_Web/tree/master/Scripts/Miscellaneous/15Puzzle) built by one of our contributors.
- Build a script that solves this in a minimum number of moves using backtracking?
- Add a few more buttons to the given game - RESET, UNDO and Solve
    - RESET will print a new random grid and the moves/score will be set to zero

[2020-10-19 19:02] AnkDos commented on #27
@AdityaJ7  Assign me this .

[2020-10-19 20:52] valterm opened #580 "Wrapper script to stabilize video using ffmpeg"
# Description

A wrapper written in python that uses ffmpeg to stabilize and smoothen out shaky videos.

## Type of issue

- [X] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue

[2020-10-19 20:53] valterm commented on #580
I'd like to start working on this, can I proceed?

[2020-10-20 01:52] #5 closed

[2020-10-20 03:35] AdityaJ7 commented on #27
sure

[2020-10-20 03:36] AdityaJ7 commented on #120
sure @valterm

[2020-10-20 03:51] #566 closed

[2020-10-20 04:16] pksgmv commented on #31
@AdityaJ7 I have created a PR for the AmazonPriceTracker I told about. Please review it...

[2020-10-20 16:27] Meghana-12 commented on #232
Hey, can I work on this? @AdityaJ7

[2020-10-20 19:03] schezfaz opened #589 "Python script to add Youtube video to Spotify playlist"
# Description
A python script that allows you to add a particular youtube video to a spotify playlist

## Type of issue
- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:
- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will

[2020-10-20 19:03] schezfaz commented on #589
I'd like to work on this!

[2020-10-21 04:10] #580 closed

[2020-10-21 04:13] #494 closed

[2020-10-21 04:37] #27 closed

[2020-10-21 05:25] AdityaJ7 commented on #232
sure @Meghana-12

[2020-10-21 05:26] #28 closed

[2020-10-21 06:22] AdeshChoudhar19 commented on #19
@AdityaJ7 Are you going to re-open this issue? I would like to work on this.

[2020-10-21 06:39] AdityaJ7 commented on #19
Sure you can work on it

[2020-10-21 09:33] #120 closed

[2020-10-21 10:06] AnkDos commented on #16
Any plan for this ? like what lib should be used for interface and what one specific problem shall be solved ? we can use jython for using swing elements of java and will it be a regular music player or any specific feature to go with ? @AdityaJ7

[2020-10-21 10:29] ritesh-dt commented on #16
I've tried a few libraries like pydub, simpleaudio, etc. But the libraries only support playing (not pause-ans-play). So I'm stuck currently. @AnkDos What are swing elements?

[2020-10-21 10:38] AdityaJ7 commented on #16
A regular music player will do the trick

[2020-10-21 11:27] ritesh-dt commented on #16
@AdityaJ7 As in just select file and play? Or play and pause functionality?

[2020-10-21 11:31] AnkDos commented on #16
@ritesh-dt   java swing provides a way to create window-based applications . So if you want to build the whole interface with all the button functionalities , it'll be useful .These java libraries can be imported in python for developing the ui , so you're code base will be in python

[2020-10-21 19:10] valterm opened #595 "Python script to download the top 5 posts from the /r/wallpapers subreddit every day"
# Description

A python script, that would download the top 5 posts from the [/r/wallpapers](https://www.reddit.com/r/wallpapers/) subreddit, and save them locally.

## Type of issue

- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoi

[2020-10-21 19:14] valterm commented on #595
I'd like to work on this please, could it be assigned to me?

[2020-10-21 19:31] aniket173000 commented on #589
HEY CAN YOU PLEASE ASSIGN THIS TASK TO ME.

[2020-10-22 02:33] jrcamelo commented on #31
I would like to add a script that takes a folder with images and merges them vertically into a strip using Pillow.
It's useful for web comics and webtoons.

[2020-10-22 11:42] AdityaJ7 commented on #31
cool

[2020-10-22 11:43] AdityaJ7 commented on #589
the author of the issue is already working on it

[2020-10-23 01:08] SaucyGames05 commented on #595
I'd like to give this a go

[2020-10-23 04:58] tusharnankani commented on #509
Are you working on it? @tenzu15

[2020-10-23 06:48] #19 closed

[2020-10-23 07:09] valterm commented on #595
I'm working on this already, just haven't had the time to clean the code up yet to be ready for a commit.

[2020-10-23 08:25] hrj-star opened #600 "Python Script to scrape random quotes from Quotes website."
# Description

## Type of issue
Will implement a python script to scrape quotes from quotestoscrape website,

- [X] Feature (New Script)
- [X] Get quotes stored in json file

## Checklist:

- [X] I have read the project guidelines.
- [X] I have checked all the existing projects, before submitting a new project issue.
- [X] I have checked previous issues to avoid duplicates.
- [X] This issue will b

[2020-10-23 11:05] killerpanda101 commented on #114
can you reopen this thread

[2020-10-23 11:18] VolatianaYuliana commented on #600
Hey @hrj-star I would like to work on this one.

[2020-10-23 12:16] hrj-star commented on #600
Hey @VolatianaYuliana , I am already working on this issue . Will complete it as soon as I am assigned to it 😀.

[2020-10-23 12:32] tenzu15 commented on #509
Yes, working on it

[2020-10-25 12:09] priya-mane commented on #31
I would like to add a script that parses research paper latex and extracts headings and data under it and stores in a json file.

[2020-10-25 12:40] AdityaJ7 commented on #31
sure @priya-mane go for it

[2020-10-26 07:38] AdityaJ7 commented on #16
Select, play, pause, exit

[2020-10-26 11:49] ritesh-dt commented on #16
Great 👍, I'll get that working but currently **I'm in the middle of my exams 📚**. So I'll work on this as soon as I'm free.

[2020-10-26 11:54] AdityaJ7 commented on #16
ok no problem, best of luck for the exams

[2020-10-26 13:32] priya-mane commented on #31
I would like to add a script that creates a google spreadsheet from a local csv file and the user can share it with other contributors using the cli.

[2020-10-26 13:37] AdityaJ7 commented on #31
sure go for it

[2020-10-26 13:41] priya-mane commented on #31
Can you please review the PR and let me know if I should follow the same for the next one.
Thanks

[2020-10-26 13:49] AdityaJ7 commented on #31
Just add a few comments in hard to understand areas and add a requirments.txt file.

[2020-10-27 04:06] #114 closed

[2020-10-27 09:07] Meghana-12 commented on #232
Hey, could you confirm if this is legal? https://www.shopify.in/robots.txt most of the stuff is disallowed.

[2020-10-27 09:16] AdityaJ7 commented on #232
I guess it's not but I am not sure as @xcodz-dot opened this issue

[2020-10-27 09:42] xcodz-dot commented on #232
noop it is not illegal. it is web scraper and it does not interfere with server data nor does it upload any data to server. it simply downloads and parses the data.

[2020-10-27 12:41] pratik-choudhari commented on #446
@AdityaJ7 Can I be assigned to this?

[2020-10-27 12:47] AdityaJ7 commented on #446
Sure

[2020-10-27 14:25] #446 closed

[2020-10-28 10:15] priya-mane commented on #31
I would like to add a twitter sentiment analysis and topic modeling flask app that uses twitter OAuth via flask-dance to retrieve user's tweets and display its topic and sentiment.

[2020-10-28 10:27] AdityaJ7 commented on #31
sure

[2020-10-28 14:08] #31 closed

[2020-10-28 23:45] valterm opened #617 "Create a flattened texture from a video"
# Description

A script to create a flattened texture image of an object, based on a video.

## Type of issue
- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meani

[2020-10-28 23:46] valterm commented on #617
I'd like to work on this. Could it please be assigned to me?

[2020-10-29 12:12] priya-mane commented on #31
Can I add a movies recommendation engine flask app?
Thanks!

[2020-10-29 12:42] schezfaz commented on #589
Hii, apologies for the delay. I have not been able to kickstart work on this script. @aniket173000 can take it ahead if they like!!

[2020-10-30 08:46] jrmiranda opened #619 "Fetch CO2 emission data"
# Description

Create a script to fetch data from CO2 emission API.

## Type of issue

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid duplicates.
- [x] This issue will be meaningful for the project.

[2020-10-30 09:20] #617 closed

[2020-10-30 09:21] #595 closed

[2020-10-30 13:45] #619 closed

[2020-10-30 14:26] aahnik opened #623 "Run python expressions from telegram, Telegram Bot"
# Description
This bot will execute a python expression and return the results.
Take a look at the GIF

![python_telegram](https://user-images.githubusercontent.com/66209958/97716600-d4832a00-1ae9-11eb-8ec5-9a38b3972642.gif)

## Type of issue
- [X] Feature (New Script)

## Checklist:

- [X] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new

[2020-10-30 14:31] AdityaJ7 commented on #623
looks nice go for it @aahnik

[2020-10-30 21:35] aahnik commented on #623
@AdityaJ7

Added the pull request, hope this will be useful ☺️🙏🤗😌😊

[2020-10-31 04:42] #623 closed

[2020-11-04 18:19] Rajdeep-Ray opened #627 "Improve Rocket Launch Schedule web-scraper"
# Description

Improve Rocket Launch Schedule web-scraper for getting more details.
The current web-scrapper is not returning all the available outputs.

## Type of issue

- [ ] Feature (New Script)
- [x] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previ

[2020-11-06 09:28] aahnik opened #629 "Enhance runPython_bot"
# Description

 _I propose the following enhancements to the bot:_
( note: I am the author of this bot )

- Logs should contain time-stamps in the **deployer's desired time-zone** instead of server time.
- **Uplift ban** from exponentiation  `**` as the cause of bug found and can be handled.
- Hanging in case of certain **long calculations** can be prevented.
- **Reduce bot's response time** by pr

[2020-11-07 12:30] #627 closed

[2020-11-07 12:30] #629 closed

[2020-11-08 13:06] xcodz-dot commented on #232
ok this is not stale

[2020-11-10 01:42] #509 closed

[2020-11-10 01:42] #484 closed

[2020-11-10 01:42] #380 closed

[2020-11-10 01:42] #474 closed

[2020-11-10 01:42] #333 closed

[2020-11-10 01:42] #338 closed

[2020-11-10 01:42] #48 closed

[2020-11-10 01:42] #16 closed

[2020-11-10 01:42] #40 closed

[2020-11-10 01:42] #4 closed

[2020-11-13 01:33] #578 closed

[2020-11-14 01:32] #589 closed

[2020-11-16 01:37] #232 closed

[2020-11-16 01:37] #600 closed

[2020-11-16 16:22] xcodz-dot commented on #232
this is noot stale

[2021-07-06 17:29] laasya2005 commented on #31
Snake-Eating-Game
The Definitive Snake Eating game.

If you like the idea, please assign the task to me. I would contribute to this repo as part of Hacktoberfest.

[2021-08-25 11:53] shivanshjoshi28 commented on #31
I would like to add Alphabet recognization using hand gestures. In this OCR model will be created first and from that model, we can predict the alphabet written on the screen in front of the webcam. OpenCV will be used for finding the alphabet drawn on the input frame.

[2021-10-10 20:27] ayushkumar1610 opened #639 "Not accepting upper case Y as confirmation to write the file in Google-py Translator"
# In module Google-py Translator, Confirmation to save file is case sensitive.

In file Google-py Translator/main.py, on line 56: ` x = input("\nSave output to a file? y/n : ") ` this is only accepting lower case `y` as confirmation. This could be changed by converting input to lower case or by giving other options.

To reproduce this one can use Google-py Translator, and at the time when it promp

[2021-10-18 10:32] sudip-mondal-2002 opened #643 "Invisible Cloak"
# Description

I want to add an invisible cloak project to this repository.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x] I have read the project guidelines.
- [x] I have checked all the existing projects, before submitting a new project issue.
- [x] I have checked previous issues to avoid dupl

[2021-10-21 08:02] denschiro opened #644 "A Script for MQTT write with python"
# Python MQTT write

 A simple Python script for write a message to MQTT Broker.

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [x ] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [x ] I have read the project guidelines.
- [x ] I have checked all the existing projects, before submitting a new project issue.
- [x ] I have checked previous issues to a

[2021-10-24 12:07] proftc opened #646 "Just crashes on Mac"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

Hi
I wrote a small sample.txt file attached
But whatever I put in the file I get same error
Also using input from the terminal gives the same error.
Any help much appreciated
Thanks

  File "/Users/terry/.pyenv/versions/3.7.7/envs/venvCD37A/lib/python3.7/site-packages/googletrans/gtoken.py", line 62, in _update

[2021-11-02 02:12] #643 closed

[2021-11-05 02:09] #644 closed

[2021-11-09 02:08] #646 closed

[2022-03-27 04:19] WalteXqx opened #650 "scripts/scrzaz"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ ] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] I have checked previous issues to avoid duplicates.
- [ ] This issue will be meaningful for the project.

[2022-03-27 04:20] WalteXqx commented on #650
how to i delete ?

[2022-03-27 04:20] WalteXqx commented on #650
.

[2022-03-27 04:20] #650 closed

[2022-04-26 12:58] stenwire commented on #31
I would like to contribute a python bot that will auto-login its user into various preset websites.

This would save the user the stress of having ...
* To open their browser
* To type the URL
* To enter the login info
* Help protect your login info and avoid leaking it out when in public areas

* This bot will reduce all of the above processes to just one thereby increasing productivity and easin

[2022-06-10 10:05] AdityaJ7 opened #652 "Noob test for issue lockdown"
# Description

## Type of issue
- NOTE: *These boxes can be checked using **`[X]`***

- [ ] Feature (New Script)
- [ ] Bug
- [ ] Documentation

## Checklist:

- [ ] I have read the project guidelines.
- [ ] I have checked all the existing projects, before submitting a new project issue.
- [ ] I have checked previous issues to avoid duplicates.
- [ ] This issue will be meaningful for the project.

[2022-06-10 10:06] #652 closed